Sodimac-DEV2/force-app/main/default/flows/SOD_XS_ActualizarTareaBefore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Asignar_Id_de_la_Reserva</name>
        <label>Asignar Id de la Reserva</label>
        <locationX>380</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>ReservaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Reserva.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determinar_si_Caso_tiene_Reserva</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenar_Productos</name>
        <label>Concatenar Productos</label>
        <locationX>336</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>DescripcionDeProductos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterar_Productos.SOD_XS_CodigoProducto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescripcionDeProductos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterar_Productos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determinar_Si_Actualizar_Tarea_Numero_De_Reserva</name>
        <label>Determinar Si Actualizar Tarea Numero De Reserva</label>
        <locationX>380</locationX>
        <locationY>1583</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Actualizar_Numero_De_Reserva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Reserva</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Numero_De_Reserva_0</targetReference>
            </connector>
            <label>Si Actualizar Numero De Reserva</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Si_Actualizar_Tarea_SKU_Afectado</name>
        <label>Determinar Si Actualizar Tarea SKU Afectado</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Actualizar_SKU_Afectado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Productos_Del_Caso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_SKU_Afectado</targetReference>
            </connector>
            <label>Si Actualizar SKU Afectado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_si_Caso_tiene_Reserva</name>
        <label>Determinar si Caso tiene Reserva</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Determinar_Si_Actualizar_Tarea_Numero_De_Reserva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Caso no tiene Reserva</defaultConnectorLabel>
        <rules>
            <name>Caso_si_tiene_Reserva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReservaId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Productos_Del_Caso</targetReference>
            </connector>
            <label>Caso si tiene Reserva</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujos_desactivados</name>
        <label>Flujos desactivados?</label>
        <locationX>264</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Objecto_Relacionado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SOD_XS_Bypass__c.SOD_XS_DesactivarFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Objecto_Relacionado</name>
        <label>Objecto Relacionado</label>
        <locationX>743</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No esta relacionado</defaultConnectorLabel>
        <rules>
            <name>Relacionado_a_un_Caso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Caso</targetReference>
            </connector>
            <label>Relacionado a un Caso</label>
        </rules>
        <rules>
            <name>Relacionado_a_un_Cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <label>Relacionado a un Cliente</label>
        </rules>
    </decisions>
    <description>Se agrega limite en el largo maximo del texto del campo SKU Afectado (Max 255)</description>
    <formulas>
        <name>DescripcionDeProductos255</name>
        <dataType>String</dataType>
        <expression>LEFT({!DescripcionDeProductos}, 255)</expression>
    </formulas>
    <interviewLabel>Actualizar Tarea Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_ActualizarTareaBefore</label>
    <loops>
        <name>Iterar_Productos</name>
        <label>Iterar Productos</label>
        <locationX>248</locationX>
        <locationY>1151</locationY>
        <collectionReference>Obtener_Productos_Del_Caso</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concatenar_Productos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Determinar_Si_Actualizar_Tarea_Numero_De_Reserva</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Caso</name>
        <label>Obtener Caso</label>
        <locationX>380</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Reserva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Productos_Del_Caso</name>
        <label>Obtener Productos Del Caso</label>
        <locationX>248</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_Productos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_ReservaDelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Reserva.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SOD_XS_ProductoDelCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Reserva</name>
        <label>Obtener Reserva</label>
        <locationX>380</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Id_de_la_Reserva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Caso.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_ReservasDelCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Numero_De_Reserva_0</name>
        <label>Actualizar Numero De Reserva</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Determinar_Si_Actualizar_Tarea_SKU_Afectado</targetReference>
        </connector>
        <inputAssignments>
            <field>SOD_XS_NroDeReserva__c</field>
            <value>
                <elementReference>Obtener_Reserva.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_ReservaDelCaso__c</field>
            <value>
                <elementReference>Obtener_Reserva.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_SKU_Afectado</name>
        <label>Actualizar SKU Afectado</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <inputAssignments>
            <field>SOD_XS_SKUAfectado__c</field>
            <value>
                <elementReference>DescripcionDeProductos255</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>138</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flujos_desactivados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DescripcionDeProductos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReservaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
