Sodimac-DEV2/force-app/main/default/flows/SOD_XS_RTFAS_EnrutarCasoPorHabilidades.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CL_Areas_Colaboradores</name>
        <label>CL - Areas/Colaboradores</label>
        <locationX>2426</locationX>
        <locationY>935</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CL_Route_Skills_Areas_Colaboradores</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0877ebf2&quot;,&quot;skillId&quot;:&quot;0C52E000000PHpmSAG&quot;,&quot;skillLabel&quot;:&quot;CL - Areas/Colaboradores&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Cambios_Devoluciones</name>
        <label>CL - Cambios &amp; Devoluciones</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CL_Route_Skills_Cambios_Devoluciones</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0877ebf2&quot;,&quot;skillId&quot;:&quot;0C52E000000PHprSAG&quot;,&quot;skillLabel&quot;:&quot;CL - Cambios &amp; Devoluciones&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Cancelacion</name>
        <label>CL - Cancelacion</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CL_Route_Skills_Cancelacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0877ebf2&quot;,&quot;skillId&quot;:&quot;0C52E000000PHpwSAG&quot;,&quot;skillLabel&quot;:&quot;CL - Cancelacion&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Cobros_Facturacion</name>
        <label>CL - Cobros &amp; Facturacion</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CL_Route_Skills_Cobros_Facturacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0877ebf2&quot;,&quot;skillId&quot;:&quot;0C52E000000PHq1SAG&quot;,&quot;skillLabel&quot;:&quot;CL - Cobros &amp; Facturacion&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Entrega</name>
        <label>CL - Entrega</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CL_Route_Skills_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0877ebf2&quot;,&quot;skillId&quot;:&quot;0C52E000000PHq6SAG&quot;,&quot;skillLabel&quot;:&quot;CL - Entrega&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Garantia</name>
        <label>CL - Garantia</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CL_Route_Skills_Garantia</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0877ebf2&quot;,&quot;skillId&quot;:&quot;0C52E000000PHqBSAW&quot;,&quot;skillLabel&quot;:&quot;CL - Garantia&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Medios_de_Pago</name>
        <label>CL - Medios de Pago</label>
        <locationX>2690</locationX>
        <locationY>935</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CL_Route_Skills_Medios_de_Pago</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0877ebf2&quot;,&quot;skillId&quot;:&quot;0C52E000000PHpnSAG&quot;,&quot;skillLabel&quot;:&quot;CL - Medios de Pago&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Publicidad_Ofertas</name>
        <label>CL - Publicidad &amp; Ofertas</label>
        <locationX>2162</locationX>
        <locationY>935</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CL_Route_Skills_Publicidad_Ofertas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0877ebf2&quot;,&quot;skillId&quot;:&quot;0C52E000000PHqGSAW&quot;,&quot;skillLabel&quot;:&quot;CL - Publicidad &amp; Ofertas&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Reembolso</name>
        <label>CL - Reembolso</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CL_Route_Skills_Reembolso</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0877ebf2&quot;,&quot;skillId&quot;:&quot;0C52E000000PHqLSAW&quot;,&quot;skillLabel&quot;:&quot;CL - Reembolso&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Route_Skills_Areas_Colaboradores</name>
        <label>CL - Route Skills - Areas/Colaboradores</label>
        <locationX>2426</locationX>
        <locationY>1055</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Route_Skills_Cambios_Devoluciones</name>
        <label>CL - Route Skills - Cambios &amp; Devoluciones</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Route_Skills_Cancelacion</name>
        <label>CL - Route Skills - Cancelacion</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Route_Skills_Cobros_Facturacion</name>
        <label>CL - Route Skills - Cobros &amp; Facturacion</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Route_Skills_Entrega</name>
        <label>CL - Route Skills - Entrega</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Route_Skills_Garantia</name>
        <label>CL - Route Skills - Garantia</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Route_Skills_Medios_de_Pago</name>
        <label>CL - Route Skills - Medios de Pago</label>
        <locationX>2690</locationX>
        <locationY>1055</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Route_Skills_Publicidad_Ofertas</name>
        <label>CL - Route Skills - Publicidad &amp; Ofertas</label>
        <locationX>2162</locationX>
        <locationY>1055</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Route_Skills_Reembolso</name>
        <label>CL - Route Skills - Reembolso</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Route_Skills_Servicio_Tecnico</name>
        <label>CL - Route Skills - Servicio Tecnico</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Route_Skills_Sitio_Cuenta</name>
        <label>CL - Route Skills - Sitio/Cuenta</label>
        <locationX>1898</locationX>
        <locationY>1055</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Servicio_Tecnico</name>
        <label>CL - Servicio Tecnico</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CL_Route_Skills_Servicio_Tecnico</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0877ebf2&quot;,&quot;skillId&quot;:&quot;0C52E000000PHqQSAW&quot;,&quot;skillLabel&quot;:&quot;CL - Servicio Tecnico&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Sitio_Cuenta</name>
        <label>CL - Sitio/Cuenta</label>
        <locationX>1898</locationX>
        <locationY>935</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CL_Route_Skills_Sitio_Cuenta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0877ebf2&quot;,&quot;skillId&quot;:&quot;0C52E000000PHq7SAG&quot;,&quot;skillLabel&quot;:&quot;CL - Sitio/Cuenta&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Atraso_en_la_Entrega</name>
        <label>CO - Atraso en la Entrega</label>
        <locationX>3746</locationX>
        <locationY>815</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CO_Route_Skills_Atraso_en_la_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;d35b1f94&quot;,&quot;skillId&quot;:&quot;0C52E000000PHqVSAW&quot;,&quot;skillLabel&quot;:&quot;CO - Atraso en la Entrega&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Backoffice_PaP</name>
        <label>CO - Backoffice PaP</label>
        <locationX>3482</locationX>
        <locationY>815</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CO_Route_Skills_Backoffice_PaP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;d35b1f94&quot;,&quot;skillId&quot;:&quot;0C52E000000PHqaSAG&quot;,&quot;skillLabel&quot;:&quot;CO - Backoffice PaP&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Route_Skills_Atraso_en_la_Entrega</name>
        <label>CO - Route Skills - Atraso en la Entrega</label>
        <locationX>3746</locationX>
        <locationY>935</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Route_Skills_Backoffice_PaP</name>
        <label>CO - Route Skills - Backoffice PaP</label>
        <locationX>3482</locationX>
        <locationY>935</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
            <value>
                <stringValue>Back office Pap</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <stringValue>0052E00000NMsJiQAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Route_Skills_Servicio_Tecnico</name>
        <label>CO - Route Skills - Servicio Técnico</label>
        <locationX>4010</locationX>
        <locationY>935</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Servicio_Tecnico_Add_Skill</name>
        <label>CO - Servicio Técnico</label>
        <locationX>4010</locationX>
        <locationY>815</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CO_Route_Skills_Servicio_Tecnico</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;d35b1f94&quot;,&quot;skillId&quot;:&quot;0C52E000000TQ6sSAG&quot;,&quot;skillLabel&quot;:&quot;CO - Servicio Tecnico&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>PE_Refacturacion</name>
        <label>PE - Refacturación</label>
        <locationX>4538</locationX>
        <locationY>815</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>PE_Route_Skills_Refacturacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;d35b1f94&quot;,&quot;skillId&quot;:&quot;0C56R000000PDItSAO&quot;,&quot;skillLabel&quot;:&quot;Backoffice - Refacturación&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>PE_Route_Skills_Refacturacion</name>
        <label>PE - Route Skills - Refacturación</label>
        <locationX>4538</locationX>
        <locationY>935</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CL_Determine_Which_Skills_Apply</name>
        <label>CL - Determine Which Skills Apply</label>
        <locationX>1502</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entrega</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho / Retiro en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio de Dirección o Teléfono</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio Fecha de Entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio Quién Retira</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daño en Propiedad del Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Problemas con Personal Transporte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atraso en la Entrega</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Entrega</targetReference>
            </connector>
            <label>Entrega</label>
        </rules>
        <rules>
            <name>Cambios_Devoluciones</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho / Retiro en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrega Errónea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto Dañado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto Incompleto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho Incompleto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto no Corresponde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calidad de Producto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Cambios_Devoluciones</targetReference>
            </connector>
            <label>Cambios &amp; Devoluciones</label>
        </rules>
        <rules>
            <name>Servicio_Tecnico</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicio Técnico OZOM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicio Técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soporte Técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garantía de Producto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Servicio_Tecnico</targetReference>
            </connector>
            <label>Servicio Técnico</label>
        </rules>
        <rules>
            <name>Cancelacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anulación Orden de Compra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Cancelacion</targetReference>
            </connector>
            <label>Cancelación</label>
        </rules>
        <rules>
            <name>Cobros_Facturacion</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compras Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio de Boleta a Factura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copia de Documento de Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orden de Compra y Cobro Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error Emisión Documento de Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobro Duplicado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobro sin Orden de Compra Generada o No Integrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Cobros_Facturacion</targetReference>
            </connector>
            <label>Cobros - Facturación</label>
        </rules>
        <rules>
            <name>Reembolso</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copia de Nota de Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error Emisión Nota de Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NCR - Incumplimiento en Reversión</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Reembolso</targetReference>
            </connector>
            <label>Reembolso</label>
        </rules>
        <rules>
            <name>Garantia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cotizar Producto Fuera de Garantía</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Garantia</targetReference>
            </connector>
            <label>Garantía</label>
        </rules>
        <rules>
            <name>Sitio_Cuenta</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experiencia de Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compras Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eliminar Datos del Cliente/Pdd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notificación Errónea a Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Problemas con la Página Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Problemas Cuenta Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Sitio_Cuenta</targetReference>
            </connector>
            <label>Sitio/Cuenta</label>
        </rules>
        <rules>
            <name>Publicidad_y_Ofertas</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7) AND (8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compras Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cajas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ferretería</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hogar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jardín y Temporada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminaciones</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diferencia de Precio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eliminar Envío Mail de Publicidad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garantía de Precios Bajos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Publicidad_Ofertas</targetReference>
            </connector>
            <label>Publicidad y Ofertas</label>
        </rules>
        <rules>
            <name>Areas_Colaboradores</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10) AND (11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29 OR 30 OR 31)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alquiler de herramientas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experiencia en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experiencia de Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cajas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ferretería</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hogar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jardín y Temporada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminaciones</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta telefónica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atraso Entrega de Herramienta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atraso Llamado Confirmación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atraso Retiro de Herramienta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disponibilidad de Herramienta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estado de la Herramienta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procedimientos, Políticas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precios y Garantía de Arriendo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actitud de Personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesoría / Capacitación / Expertise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tiempo para ser Atendido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accidente a Personas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comunidad y Entorno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daño / Accidente Car Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daño a Vehiculos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daño Objetos Personales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hurto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infraestructura / Comodidad Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demora Envío Cotización</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio de Fecha de Entrega / Retiro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cotizar Productos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Olvido de Objetos Personales o Productos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Areas_Colaboradores</targetReference>
            </connector>
            <label>Áreas/Colaboradores</label>
        </rules>
        <rules>
            <name>Medios_de_Pago</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cajas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Problema Medio de Pago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mal Registro Pago de Deuda CMR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Información Cheque</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cargo no Reconocido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cargo no Reconocido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobro Duplicado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vuelto Mal Entregado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error Emisión Documento de Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mal Registro de Productos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orden de Compra y Cobro Rechazado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Medios_de_Pago</targetReference>
            </connector>
            <label>Medios de Pago</label>
        </rules>
    </decisions>
    <decisions>
        <name>CO_Determine_Which_Skills_Apply</name>
        <label>CO - Determine Which Skills Apply</label>
        <locationX>3878</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bodega_Proveedor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho / Retiro en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atraso en la Entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 928 BODEGA PROVEEDOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Backoffice_PaP</targetReference>
            </connector>
            <label>Bodega Proveedor</label>
        </rules>
        <rules>
            <name>Atraso_en_la_Entrega</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho / Retiro en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atraso en la Entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 924 TENJO VAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 980 CEDI FUNZA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 930 CEDI MADRID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 913 CEDI VALLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Atraso_en_la_Entrega</targetReference>
            </connector>
            <label>Atraso en la Entrega</label>
        </rules>
        <rules>
            <name>CO_Servicio_Tecnico</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10) AND (11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19) AND 20</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicio Técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Submotivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicio Técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Encuesta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redes Sociales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 30 CALI SUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 31 CALI NORTE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 32 PALMIRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 33 TULUA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 56 MONTERIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 60 PEREIRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 65 MANIZALES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 66 ARMENIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 928 BODEGA PROVEEDOR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Servicio_Tecnico_Add_Skill</targetReference>
            </connector>
            <label>Servicio Técnico</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Country</name>
        <label>Determine Country</label>
        <locationX>3713</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_If_Owner_Is_CL_Backoffice_Clientes</targetReference>
            </connector>
            <label>Chile</label>
        </rules>
        <rules>
            <name>Colombia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Determine_Which_Skills_Apply</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
        <rules>
            <name>Peru</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perú</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Determine_Which_Skills_Apply</targetReference>
            </connector>
            <label>Perú</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_If_Owner_Is_CL_Backoffice_Clientes</name>
        <label>Determine If Owner Is CL Backoffice Clientes</label>
        <locationX>2360</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Is_CL_Backoffice_Clientes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Owner_Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOD_CL_BackofficeClientes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Determine_Which_Skills_Apply</targetReference>
            </connector>
            <label>Owner Is CL Backoffice Clientes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujos_desactivados</name>
        <label>Flujos desactivados?</label>
        <locationX>1749</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Case_Owner_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SOD_XS_Bypass__c.SOD_XS_DesactivarFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>PE_Determine_Which_Skills_Apply</name>
        <label>PE - Determine Which Skills Apply</label>
        <locationX>4670</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refacturacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anulación Orden de Compra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Submotivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refacturación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Refacturacion</targetReference>
            </connector>
            <label>Refacturación</label>
        </rules>
    </decisions>
    <description>Flujo Record Triggered Flow After Save: Enrutamiento de Casos basado en habilidades</description>
    <environments>Default</environments>
    <interviewLabel>SOD_XS_RTFAS_EnrutarCasoPorHabilidades {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_RTFAS_EnrutarCasoPorHabilidades</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case_Owner_Queue</name>
        <label>Case Owner Queue</label>
        <locationX>3713</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1623</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flujos_desactivados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00G</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>4</triggerOrder>
    <variables>
        <name>skillList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
</Flow>
