Sodimac-DEV2/force-app/main/default/flows/SOD_XS_CrearTarea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Acción para abrir la Tarea Backoffice creada.</description>
        <name>Abrir_Tarea</name>
        <label>Abrir Tarea</label>
        <locationX>3316</locationX>
        <locationY>2327</locationY>
        <actionName>c:FlowRedirectToSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Tarea.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Añadir esta tipificación al conjunto de posiblidades</description>
        <name>AnadirTipificacionPosible</name>
        <label>AñadirTipificacionPosible</label>
        <locationX>646</locationX>
        <locationY>1316</locationY>
        <assignmentItems>
            <assignToReference>TipificacionesTarea</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopTipificaciones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipificacion_Factible_para_Chile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_GG_Refacturacion_Ecommerce</name>
        <label>Asignar GG Refacturacion Ecommerce</label>
        <locationX>2589</locationX>
        <locationY>2873</locationY>
        <assignmentItems>
            <assignToReference>GrupoDeGestionSeleccionado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refacturación Ecommerce</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Llenar_datos_Tarea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_valores</name>
        <label>Asignar valores</label>
        <locationX>2004</locationX>
        <locationY>2877</locationY>
        <assignmentItems>
            <assignToReference>GrupoDeGestionSeleccionado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormatGGIngresado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaSeleccionada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreTarea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Descripcion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescripcionTarea</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PE_Refacturacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Determina esta tipificación como Factible para el país Chile</description>
        <name>FactibilidadChile</name>
        <label>FactibilidadChile</label>
        <locationX>1024</locationX>
        <locationY>1307</locationY>
        <assignmentItems>
            <assignToReference>FactibleCL</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipificacion_Factible_para_Peru</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Determina esta tipificación como Factible para el país Colombia</description>
        <name>FactibilidadColombia</name>
        <label>FactibilidadColombia</label>
        <locationX>657</locationX>
        <locationY>1582</locationY>
        <assignmentItems>
            <assignToReference>FactibleCO</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopTipificaciones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Determina esta tipificación como Factible para el país Perú</description>
        <name>FactibilidadPeru</name>
        <label>FactibilidadPeru</label>
        <locationX>872</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>FactiblePE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipificacion_Factible_para_Colombia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Almacena los grupos de gestión factibles para chile (En un solo string)</description>
        <name>GruposChile</name>
        <label>GruposChile</label>
        <locationX>794</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>GruposFactibles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreTareaCL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IngreseGrupoGestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Almacena los grupos de gestión factibles para Colombia (En un solo string)</description>
        <name>GruposColombia</name>
        <label>GruposColombia</label>
        <locationX>796</locationX>
        <locationY>2660</locationY>
        <assignmentItems>
            <assignToReference>GruposFactibles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreTareaCOL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IngreseGrupoGestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Almacena los grupos de gestión factibles para Perú(En un solo string)</description>
        <name>GruposPeru</name>
        <label>GruposPeru</label>
        <locationX>797</locationX>
        <locationY>2419</locationY>
        <assignmentItems>
            <assignToReference>GruposFactibles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreTareaPE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IngreseGrupoGestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>.</description>
        <name>Llenar_datos_Tarea</name>
        <label>Llenar datos Tarea</label>
        <locationX>2412</locationX>
        <locationY>2584</locationY>
        <assignmentItems>
            <assignToReference>Tarea.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caso.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tarea.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TareaSeleccionada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tarea.SOD_XS_NrDeDocumentoDeIdentidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caso.Account.SOD_XS_NroDocumento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tarea.SOD_XS_Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caso.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tarea.SOD_XS_GrupoDeGestion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoDeGestionSeleccionado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tarea.SOD_XS_CentroCostoGestion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TiendaParaTarea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tarea.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tarea.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descripcion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tarea.SOD_XS_TareaGestionFlujo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tarea.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Tipo_de_Registro.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrigenEsPhone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Llena la Orden de Compra de la Tarea según el Nro Doc Asociado del Caso</description>
        <name>Llenar_Orden_de_Compra</name>
        <label>Llenar Orden de Compra</label>
        <locationX>2933</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>Tarea.SOD_XS_NumeroDeOrdenDeCompra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caso.SOD_XS_DocumentoAsociado__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarTarea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define origen de la tarea según valor de caso</description>
        <name>SetOrigen</name>
        <label>SetOrigen</label>
        <locationX>2734</locationX>
        <locationY>2581</locationY>
        <assignmentItems>
            <assignToReference>Tarea.SOD_XS_OrigenDelCaso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caso.Origin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TipoDocAsociadoCaso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define origen de la tarea según LABEL de valor picklist Phone</description>
        <name>SetOrigenPhone</name>
        <label>SetOrigenPhone</label>
        <locationX>2551</locationX>
        <locationY>2416</locationY>
        <assignmentItems>
            <assignToReference>Tarea.SOD_XS_OrigenDelCaso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Teléfono</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TipoDocAsociadoCaso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Tipo de Grupo de Gestión BODEGA</description>
        <name>TipoGGBOD</name>
        <label>TipoGGBOD</label>
        <locationX>1619</locationX>
        <locationY>2224</locationY>
        <assignmentItems>
            <assignToReference>TipoGrupoGestion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BOD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextoTipoGG</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bodega</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Centro_Costo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Tipo de Grupo de Gestión CENTRAL</description>
        <name>TipoGGCT</name>
        <label>TipoGGCT</label>
        <locationX>1507</locationX>
        <locationY>2658</locationY>
        <assignmentItems>
            <assignToReference>TipoGrupoGestion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextoTipoGG</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Central</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Tipo de Grupo de Gestión TIENDA</description>
        <name>TipoGGTDA</name>
        <label>TipoGGTDA</label>
        <locationX>1619</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>TipoGrupoGestion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TDA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextoTipoGG</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tienda</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Centro_Costo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Tipo de Grupo de Gestión TIENDA O BODEGA</description>
        <name>TipoGGTDABOD</name>
        <label>TipoGGTDABOD</label>
        <locationX>1618</locationX>
        <locationY>2501</locationY>
        <assignmentItems>
            <assignToReference>TipoGrupoGestion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TDABOD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextoTipoGG</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tienda o Bodega</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Centro_Costo</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Nombre API de tipo de registro Tarea de Gestión</description>
        <name>TipoRegistroTareaGestion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SOD_XS_TareaDeGestion</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determina si existe al menos una tipificación posible de Tarea</description>
        <name>AlMenosUnaTipificacion</name>
        <label>AlMenosUnaTipificacion</label>
        <locationX>332</locationX>
        <locationY>1830</locationY>
        <defaultConnector>
            <targetReference>Tipo_de_Caso_invalido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ninguna</defaultConnectorLabel>
        <rules>
            <name>Al_menos_una</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipificacionesTarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evalua_tipo_de_registro_de_Caso</targetReference>
            </connector>
            <label>Al menos una</label>
        </rules>
    </decisions>
    <decisions>
        <name>CualTipoGG</name>
        <label>CualTipoGG</label>
        <locationX>1218</locationX>
        <locationY>2418</locationY>
        <defaultConnector>
            <targetReference>GGIncompleto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GG ingresado no coincide</defaultConnectorLabel>
        <rules>
            <name>BODEGA</name>
            <conditionLogic>1 OR 2 OR (((3 OR 4) AND (7 OR 8)) AND (6 OR 7)) OR (5 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Backoffice Transporte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Control Interno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Venta en Verde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calidad de Producto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perú</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seleccione_Centro_de_CostoBOD</targetReference>
            </connector>
            <label>BODEGA</label>
        </rules>
        <rules>
            <name>TIENDAS</name>
            <conditionLogic>1 OR 2 OR ((5 OR 6) AND 9) OR ((3 OR 4 OR 10 OR 11) AND (7 OR 8))</conditionLogic>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Despacho Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Seguridad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Protección de Datos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Backoffice Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cajas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SISO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perú</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coordinadores GC Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coordinadores GC Digital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seleccione_Centro_de_CostoTDA</targetReference>
            </connector>
            <label>TIENDAS</label>
        </rules>
        <rules>
            <name>BODEGA_TIENDA</name>
            <conditionLogic>((10 OR 11) AND 1) OR 2 OR ((3 OR 4 OR 5 OR 6 OR 7 OR 8) AND 9) OR ((8 OR 12 ) AND 11) OR (10 AND 13)</conditionLogic>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calidad de Producto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Posventa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calidad Telefónica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cajas VAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Call Ventas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Protección de Datos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Backoffice Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Control Interno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perú</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Venta en Verde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Refacturación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seleccione_Centro_de_CostoTDABOD</targetReference>
            </connector>
            <label>BODEGA + TIENDA</label>
        </rules>
        <rules>
            <name>CENTRAL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Regularizaciones Tarjetas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Validación de Pago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calidad Telefónica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cajas VAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Call Ventas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GGIngresado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gerencia Precios</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TipoGGCT</targetReference>
            </connector>
            <label>CENTRAL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evalúa al momento de crear el caso si este se encuentra en un estado diferente a cerrado.</description>
        <name>EstadodelCaso</name>
        <label>Estado del Caso</label>
        <locationX>323</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>NoTareaenCasoCerrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Caso Cerrado</defaultConnectorLabel>
        <rules>
            <name>EstadoAbierto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopTipificaciones</targetReference>
            </connector>
            <label>Estado Abierto</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evalúa cual es el tipo de registro de caso</description>
        <name>Evalua_tipo_de_registro_de_Caso</name>
        <label>Evalua tipo de registro de Caso</label>
        <locationX>332</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Tipo_de_Caso_invalido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Reclamo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaisdelCaso</targetReference>
            </connector>
            <label>Reclamo</label>
        </rules>
        <rules>
            <name>Solicitud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Solicitud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaisdelCaso</targetReference>
            </connector>
            <label>Solicitud</label>
        </rules>
        <rules>
            <name>FCR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Caso.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consulta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Felicitacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_Caso_invalido</targetReference>
            </connector>
            <label>FCR</label>
        </rules>
    </decisions>
    <decisions>
        <description>Chequea si está activo el Bypass de Flows</description>
        <name>Flujos_Desactivados</name>
        <label>Flujos Desactivados?</label>
        <locationX>452</locationX>
        <locationY>766</locationY>
        <defaultConnector>
            <targetReference>Obtener_Caso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SOD_XS_Bypass__c.SOD_XS_DesactivarFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decisión si el subflujo se ejecuto correctamente.</description>
        <name>Hubo_error_en_asignacion</name>
        <label>Hubo error en asignación</label>
        <locationX>3120</locationX>
        <locationY>2197</locationY>
        <defaultConnector>
            <targetReference>Error_de_Asignaci_n</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error de ejecución</defaultConnectorLabel>
        <rules>
            <name>Ejecucion_correcta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorAsignacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registro_creado</targetReference>
            </connector>
            <label>Ejecución correcta</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determina si el país del CC seleccionado es igual al país de la Tarea</description>
        <name>MismoPaisCC</name>
        <label>MismoPaisCC</label>
        <locationX>2069</locationX>
        <locationY>2417</locationY>
        <defaultConnector>
            <targetReference>PaisTiendaErroneo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Distinto País</defaultConnectorLabel>
        <rules>
            <name>Mismo_Pais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_PaisTiendaLiteral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Caso.SOD_XS_PaisdelCaso__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TipoTiendaCorrecto</targetReference>
            </connector>
            <label>Mismo País</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrigenEsPhone</name>
        <label>OrigenEsPhone</label>
        <locationX>2543</locationX>
        <locationY>2586</locationY>
        <defaultConnector>
            <targetReference>SetOrigen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Origen Distinto</defaultConnectorLabel>
        <rules>
            <name>OrigenPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOrigenPhone</targetReference>
            </connector>
            <label>OrigenPhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaisdelCaso</name>
        <label>PaisdelCaso</label>
        <locationX>327</locationX>
        <locationY>2417</locationY>
        <defaultConnector>
            <targetReference>Tipo_de_Caso_invalido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PosibleChile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FactibleCL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Tarea_Chile</targetReference>
            </connector>
            <label>PosibleChile</label>
        </rules>
        <rules>
            <name>PosiblePeru</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perú</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FactiblePE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Tarea_Peru</targetReference>
            </connector>
            <label>PosiblePeru</label>
        </rules>
        <rules>
            <name>PosibleColombia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FactibleCO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Tarea_Colombia</targetReference>
            </connector>
            <label>PosibleColombia</label>
        </rules>
        <rules>
            <name>NoPosible</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FactibleCL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perú</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FactiblePE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FactibleCO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_Caso_invalido</targetReference>
            </connector>
            <label>NoPosible</label>
        </rules>
    </decisions>
    <decisions>
        <name>PE_Refacturacion</name>
        <label>PE Refacturacion</label>
        <locationX>2166</locationX>
        <locationY>2878</locationY>
        <defaultConnector>
            <targetReference>Llenar_datos_Tarea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Aplica</defaultConnectorLabel>
        <rules>
            <name>Refacturacion_Ecomm_Detener_Flujo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoDeGestionSeleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refacturación Ecommerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perú</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_TipoDeCC__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BOD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>25</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_en_creacion_de_tarea</targetReference>
            </connector>
            <label>Refacturacion Ecomm Detener Flujo</label>
        </rules>
        <rules>
            <name>Refacturacion_Detener_Flujo</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>GrupoDeGestionSeleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refacturación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perú</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_TipoDeCC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>25</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_en_creacion_de_tarea</targetReference>
            </connector>
            <label>Refacturacion Detener Flujo</label>
        </rules>
        <rules>
            <name>Refacturacion_Ecomm_Aplica_Cambio</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>GrupoDeGestionSeleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refacturación Ecommerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perú</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_TipoDeCC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_CentroDeCosto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>25</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_GG_Refacturacion_Ecommerce</targetReference>
            </connector>
            <label>Refacturacion Ecomm Aplica Cambio</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determina si el Centro de Costo seleccionado se encuentra Activo</description>
        <name>TiendaActiva</name>
        <label>TiendaActiva</label>
        <locationX>1942</locationX>
        <locationY>2426</locationY>
        <defaultConnector>
            <targetReference>TiendaInactiva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactiva</defaultConnectorLabel>
        <rules>
            <name>Activa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Centro_Costo.SOD_XS_TiendaActiva__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MismoPaisCC</targetReference>
            </connector>
            <label>Activa</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si al menos una tipificación del conjunto es factible para Chile, setea FactibleCL en true</description>
        <name>Tipificacion_Factible_para_Chile</name>
        <label>Tipificación Factible para Chile</label>
        <locationX>816</locationX>
        <locationY>1318</locationY>
        <defaultConnector>
            <targetReference>Tipificacion_Factible_para_Peru</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Infactible</defaultConnectorLabel>
        <rules>
            <name>Factible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopTipificaciones.SOD_XS_GrupoGestionChile__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FactibilidadChile</targetReference>
            </connector>
            <label>Factible</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si al menos una tipificación del conjunto es factible para Colombia, setea FactibleCO en true</description>
        <name>Tipificacion_Factible_para_Colombia</name>
        <label>Tipificación Factible para Colombia</label>
        <locationX>765</locationX>
        <locationY>1722</locationY>
        <defaultConnector>
            <targetReference>LoopTipificaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Infactible</defaultConnectorLabel>
        <rules>
            <name>Factible_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopTipificaciones.SOD_XS_GrupoGestionColombia__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FactibilidadColombia</targetReference>
            </connector>
            <label>Factible</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si al menos una tipificación del conjunto es factible para Perú, setea FactiblePE en true</description>
        <name>Tipificacion_Factible_para_Peru</name>
        <label>Tipificación Factible para Perú</label>
        <locationX>1015</locationX>
        <locationY>1472</locationY>
        <defaultConnector>
            <targetReference>Tipificacion_Factible_para_Colombia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Infactible</defaultConnectorLabel>
        <rules>
            <name>Factible_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopTipificaciones.SOD_XS_GrupoGestionPeru__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FactibilidadPeru</targetReference>
            </connector>
            <label>Factible</label>
        </rules>
    </decisions>
    <decisions>
        <description>Define si existen tipificaciones factibles de Tarea para la Tipificación de Caso</description>
        <name>TipificacionesPosibles</name>
        <label>TipificacionesPosibles</label>
        <locationX>450</locationX>
        <locationY>1320</locationY>
        <defaultConnector>
            <targetReference>LoopTipificaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tipificación Infactible</defaultConnectorLabel>
        <rules>
            <name>TipificacionFactible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopTipificaciones.SOD_XS_NombredeTarea__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopTipificaciones.SOD_XS_NombredeTarea__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AnadirTipificacionPosible</targetReference>
            </connector>
            <label>Tipificación Factible</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determina si el Tipo de Documento Asociado en el Caso es una Orden de Compra</description>
        <name>TipoDocAsociadoCaso</name>
        <label>Tipo Doc Asociado Caso</label>
        <locationX>2722</locationX>
        <locationY>2417</locationY>
        <defaultConnector>
            <targetReference>AsignarTarea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otros Tipos de Documento Asociado</defaultConnectorLabel>
        <rules>
            <name>OrdendeCompra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso.SOD_XS_TipoDeDocumentoAsociado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orden de Compra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Llenar_Orden_de_Compra</targetReference>
            </connector>
            <label>Orden de Compra</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determina si el Tipo de Tienda seleccionado es adecuado al Grupo de Gestión ingresado</description>
        <name>TipoTiendaCorrecto</name>
        <label>TipoTiendaCorrecto</label>
        <locationX>2252</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>TipoTiendaErroneo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tipo Incorrecto</defaultConnectorLabel>
        <rules>
            <name>Tipo_Correcto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoGrupoGestion</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Centro_Costo.SOD_XS_TipoDeCC__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_valores</targetReference>
            </connector>
            <label>Tipo Correcto</label>
        </rules>
    </decisions>
    <description>Se agrega Tarea de PVC Gift Card</description>
    <dynamicChoiceSets>
        <description>Tipificaciones factibles para Chile</description>
        <name>FactiblesChile</name>
        <dataType>String</dataType>
        <displayField>SOD_XS_NombredeTarea__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_TipodeCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_AreadelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Area__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_MotivodelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Motivo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_SubmotivodelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Submotivo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_GrupoGestionChile__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </filters>
        <object>SOD_XS_TipificacionesTareas__mdt</object>
        <outputAssignments>
            <assignToReference>NombreTarea</assignToReference>
            <field>SOD_XS_NombredeTarea__c</field>
        </outputAssignments>
        <valueField>SOD_XS_GrupoGestionChile__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Tipificaciones Factibles para Colombia</description>
        <name>FactiblesColombia</name>
        <dataType>String</dataType>
        <displayField>SOD_XS_NombredeTarea__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_TipodeCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_AreadelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Area__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_MotivodelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Motivo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_SubmotivodelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Submotivo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_GrupoGestionColombia__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </filters>
        <object>SOD_XS_TipificacionesTareas__mdt</object>
        <outputAssignments>
            <assignToReference>NombreTarea</assignToReference>
            <field>SOD_XS_NombredeTarea__c</field>
        </outputAssignments>
        <valueField>SOD_XS_GrupoGestionColombia__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Tipificaciones factibles para Peru</description>
        <name>FactiblesPeru</name>
        <dataType>String</dataType>
        <displayField>SOD_XS_NombredeTarea__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_TipodeCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_AreadelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Area__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_MotivodelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Motivo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_SubmotivodelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Submotivo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_GrupoGestionPeru__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </filters>
        <object>SOD_XS_TipificacionesTareas__mdt</object>
        <outputAssignments>
            <assignToReference>NombreTarea</assignToReference>
            <field>SOD_XS_NombredeTarea__c</field>
        </outputAssignments>
        <valueField>SOD_XS_GrupoGestionPeru__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FormatGGIngresado</name>
        <dataType>String</dataType>
        <expression>TRIM({!GGIngresado})</expression>
    </formulas>
    <interviewLabel>Crear Tarea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Tarea</label>
    <loops>
        <name>LoopTipificaciones</name>
        <label>LoopTipificaciones</label>
        <locationX>338</locationX>
        <locationY>1590</locationY>
        <collectionReference>Obtener_Tipificacion_Tarea</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TipificacionesPosibles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AlMenosUnaTipificacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Centro_Costo</name>
        <label>Get Centro Costo</label>
        <locationX>1848</locationX>
        <locationY>2420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TiendaActiva</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_en_creacion_de_tarea</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TiendaParaTarea</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_CentroDeCosto__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SOD_XS_PaisTiendaLiteral__c</queriedFields>
        <queriedFields>SOD_XS_TipoDeCC__c</queriedFields>
        <queriedFields>SOD_XS_TiendaActiva__c</queriedFields>
        <queriedFields>SOD_XS_CentroDeCosto__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Acción para obtener el caso.</description>
        <name>Obtener_Caso</name>
        <label>Obtener Caso</label>
        <locationX>460</locationX>
        <locationY>909</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Tipificacion_Tarea</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_en_creacion_de_tarea</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Caso</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SOD_XS_DocumentoAsociado__c</queriedFields>
        <queriedFields>SOD_XS_TipoDeDocumentoAsociado__c</queriedFields>
        <queriedFields>SOD_XS_PaisdelCaso__c</queriedFields>
        <queriedFields>SOD_XS_Motivo__c</queriedFields>
        <queriedFields>SOD_XS_Submotivo__c</queriedFields>
        <queriedFields>SOD_XS_Area__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Se utiliza la tipificación de Casos para determinar las posibles tipificaciones de Tarea</description>
        <name>Obtener_Tipificacion_Tarea</name>
        <label>Obtener Tipificacion Tarea</label>
        <locationX>625</locationX>
        <locationY>1080</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Tipo_de_Registro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_AreadelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Area__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_TipodeCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_MotivodelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Motivo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_SubmotivodelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.SOD_XS_Submotivo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SOD_XS_TipificacionesTareas__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SOD_XS_GrupoGestionChile__c</queriedFields>
        <queriedFields>SOD_XS_GrupoGestionColombia__c</queriedFields>
        <queriedFields>SOD_XS_GrupoGestionPeru__c</queriedFields>
        <queriedFields>SOD_XS_NombredeTarea__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el id del tipo de registro Tareas de Gestión para asignar a la Tarea</description>
        <name>Obtener_Tipo_de_Registro</name>
        <label>Obtener Tipo de Registro</label>
        <locationX>472</locationX>
        <locationY>1080</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EstadodelCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoRegistroTareaGestion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Pantalla para la creación de tarea según grupo de gestión para el caso</description>
        <name>Crear_Tarea_Chile</name>
        <label>Crear Tarea Chile</label>
        <locationX>642</locationX>
        <locationY>2198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GruposChile</targetReference>
        </connector>
        <fields>
            <name>Mensajeinicial_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Seleccione el &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Nombre de la Tarea&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NombreTareaCL</name>
            <choiceReferences>FactiblesChile</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nombre de la Tarea</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para la creación de tarea según grupo de gestión para el caso</description>
        <name>Crear_Tarea_Colombia</name>
        <label>Crear Tarea Colombia</label>
        <locationX>641</locationX>
        <locationY>2661</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GruposColombia</targetReference>
        </connector>
        <fields>
            <name>Mensajeinicial_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Seleccione el &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Nombre de la Tarea&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NombreTareaCOL</name>
            <choiceReferences>FactiblesColombia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nombre de la Tarea</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para la creación de tarea según grupo de gestión para el caso</description>
        <name>Crear_Tarea_Peru</name>
        <label>Crear Tarea Peru</label>
        <locationX>640</locationX>
        <locationY>2419</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GruposPeru</targetReference>
        </connector>
        <fields>
            <name>Mensajeinicial_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Seleccione el &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Nombre de la Tarea&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NombreTareaPE</name>
            <choiceReferences>FactiblesPeru</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nombre de la Tarea</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_de_Asignaci_n</name>
        <label>Error de Asignación</label>
        <locationX>3126</locationX>
        <locationY>1997</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MensajeErrorAsignacion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Hubo un error al asignar la tarea a una cola.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Haga click en &apos;&lt;/span&gt;&lt;b style=&quot;font-size: 11px;&quot;&gt;Finalizar&lt;/b&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;&apos; para intentarlo de nuevo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>.</description>
        <name>Error_en_creacion_de_tarea</name>
        <label>Error en creacion de tarea</label>
        <locationX>1167</locationX>
        <locationY>895</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCreacion</name>
            <fieldText>&lt;p&gt;No se pudo crear la tarea para el caso {!Caso.CaseNumber}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Haga click en &quot;Finalizar&quot; para intentarlo de nuevo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Valida si el Grupo de Gestion ingresado está completo.</description>
        <name>GGIncompleto</name>
        <label>GGIncompleto</label>
        <locationX>1143</locationX>
        <locationY>2614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IngreseGrupoGestion</targetReference>
        </connector>
        <fields>
            <name>Mensaje_Caso_invalido_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;El Grupo de Gestión ingresado no es correcto. Pruebe copiar y pegar el Grupo de Gestión deseado.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Por favor presione &apos;&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Siguiente&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&apos; e ingrese un Grupo de Gestión &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;v&lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;álido.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Solicita al usuario ingresar un grupo de Gestión</description>
        <name>IngreseGrupoGestion</name>
        <label>IngreseGrupoGestion</label>
        <locationX>1066</locationX>
        <locationY>2420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CualTipoGG</targetReference>
        </connector>
        <fields>
            <name>SelectGrupoGestion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Ingrese únicamente un Grupo de Gestión de el(los) siguiente(s):&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!GruposFactibles}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GGIngresado</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GGIngresado</elementReference>
            </defaultValue>
            <fieldText>Grupo de Gestión</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Escriba un Grupo de Gestión. Puede copiar y pegar uno de los sugeridos.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Grupo de Gestión Incorrecto. &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Asegúrese de escribir correctamente el Grupo de Gestión.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Pruebe copiar y pegar.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>CONTAINS(LOWER({!GruposFactibles}),TRIM(LOWER({!GGIngresado})))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DescripcionTarea</name>
            <defaultValue>
                <stringValue>{!DescripcionTarea}</stringValue>
            </defaultValue>
            <fieldText>Descripción</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El largo de la Descripción debe ser menor a 32.000 caracteres.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!DescripcionTarea}) &lt; 32000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoTareaenCasoCerrado</name>
        <label>No Tarea en Caso Cerrado</label>
        <locationX>79</locationX>
        <locationY>1078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje_Caso_invalido_0</name>
            <fieldText>&lt;p&gt;No se puede crear una Tarea para un caso que se encuentra cerrado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PaisTiendaErroneo</name>
        <label>PaísTiendaErroneo</label>
        <locationX>2071</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje_Caso_invalido_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;El Centro de Costo seleccionado no es válido.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Por favor presione &apos;&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Anterior&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&apos; y seleccione un Centro de Costo de &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!Caso.SOD_XS_PaisdelCaso__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Registro_creado</name>
        <label>Registro creado</label>
        <locationX>3316</locationX>
        <locationY>2190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Abrir_Tarea</targetReference>
        </connector>
        <fields>
            <name>MensajeExito</name>
            <fieldText>&lt;p&gt;La tarea se ha creado con éxito.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Haga click en &apos;&lt;b&gt;Siguiente&lt;/b&gt;&apos; para ver detalle de la tarea.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccione_Centro_de_CostoBOD</name>
        <label>Seleccione Centro de Costo BOD</label>
        <locationX>1471</locationX>
        <locationY>2223</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TipoGGBOD</targetReference>
        </connector>
        <fields>
            <name>TipoBodega</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;A continuación seleccione un &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Centro de Costo de tipo &lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;BODEGA&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SeleccionarCentroCostoBOD</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Centro de Costo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SOD_XS_CentroCostoFlujo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TiendaParaTarea</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccione_Centro_de_CostoTDA</name>
        <label>Seleccione Centro de Costo TDA</label>
        <locationX>1477</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TipoGGTDA</targetReference>
        </connector>
        <fields>
            <name>TipoTienda</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;A continuación seleccione un &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Centro de Costo de tipo &lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;TIENDA&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CentroCostoTDA</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Centro de Costo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SOD_XS_CentroCostoFlujo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TiendaParaTarea</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccione_Centro_de_CostoTDABOD</name>
        <label>Seleccione Centro de Costo TDABOD</label>
        <locationX>1482</locationX>
        <locationY>2498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TipoGGTDABOD</targetReference>
        </connector>
        <fields>
            <name>TipoBodegaTienda</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;A continuación seleccione un &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Centro de Costo de tipo &lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;BODEGA o TIENDA&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CentroCostoBODTDA</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Centro de Costo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SOD_XS_CentroCostoFlujo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TiendaParaTarea</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TiendaInactiva</name>
        <label>TiendaInactiva</label>
        <locationX>1950</locationX>
        <locationY>2226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje_Caso_invalido_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;El Centro de Costo seleccionado se encuentra inactivo.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Por favor presione &apos;&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Anterior&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&apos; y seleccione un Centro de Costo &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Activo.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tipo_de_Caso_invalido</name>
        <label>Tipo de Caso invalido</label>
        <locationX>60</locationX>
        <locationY>2079</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje_Caso_invalido</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No se puede crear una Tarea para este Caso&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TipoTiendaErroneo</name>
        <label>TipoTiendaErroneo</label>
        <locationX>2254</locationX>
        <locationY>2225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje_Caso_invalido_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;El Centro de Costo seleccionado no es válido.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Por favor presione &apos;&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Anterior&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&apos; y seleccione un Centro de Costo de Tipo &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!TextoTipoGG}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>337</locationX>
        <locationY>620</locationY>
        <connector>
            <targetReference>Flujos_Desactivados</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Invoca flujo para asignar tarea a una cola</description>
        <name>AsignarTarea</name>
        <label>AsignarTarea</label>
        <locationX>3128</locationX>
        <locationY>2419</locationY>
        <connector>
            <targetReference>Hubo_error_en_asignacion</targetReference>
        </connector>
        <flowName>SOD_XS_AsignarTarea</flowName>
        <inputAssignments>
            <name>GrupoGestionTarea</name>
            <value>
                <elementReference>GrupoDeGestionSeleccionado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Tarea_Flujo_Principal</name>
            <value>
                <elementReference>Tarea</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ErrorAsignacion</assignToReference>
            <name>Error</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Tarea</assignToReference>
            <name>Tarea_Flujo_Principal</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Almacena Id de caso</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para almacenar el registro del caso actual</description>
        <name>Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Descripcion inicial de la tarea</description>
        <name>Descripcion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indica si hay un error en la asignación. True: hubo un error, False: ejecución exitosa.</description>
        <name>ErrorAsignacion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Determina si la tipificación de Caso permite al menos una tipificación factible para Chile</description>
        <name>FactibleCL</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Determina si la tipificación de Caso permite al menos una tipificación factible para Colombia</description>
        <name>FactibleCO</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Determina si la tipificación de Caso permite al menos una tipificación factible para Perú</description>
        <name>FactiblePE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GrupoDeGestionSeleccionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>String que contiene todos los grupos de gestión elegibles para la tipificación</description>
        <name>GruposFactibles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tarea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TareaSeleccionada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextoTipoGG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TiendaParaTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Posibles tipificaciones de Tarea según la tipificación del Caso</description>
        <name>TipificacionesTarea</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SOD_XS_TipificacionesTareas__mdt</objectType>
    </variables>
    <variables>
        <description>Determina tipo de Centro de Costo elegible según el Grupo de Gestión seleccionado</description>
        <name>TipoGrupoGestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
