Sodimac-DEV2/force-app/main/default/flows/SOD_XS_RTFAS_ActualizarCCResponsable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Asignar_TQV</name>
        <label>Asignar TQV</label>
        <locationX>726</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>TiendaQueVende.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SOD_XS_TiendaVende__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Se_Encontro_Tipificacion_Especial</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determinar_Accion</name>
        <label>Determinar Accion</label>
        <locationX>858</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Iterar_Sobre_Tipificaciones_Especiales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambiar_CCR_Por_Tienda_Que_Vende</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterar_Sobre_Tipificaciones_Especiales.SOD_XS_CambiarCCRPorTiendaQueVende__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_TiendaVende__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_TQV</targetReference>
            </connector>
            <label>Cambiar CCR Por Tienda Que Vende</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Si_Caso_Aplica</name>
        <label>Determinar Si Caso Aplica</label>
        <locationX>1012</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Iterar_Sobre_Tipificaciones_Especiales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Aplica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterar_Sobre_Tipificaciones_Especiales.SOD_XS_TipoDelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterar_Sobre_Tipificaciones_Especiales.SOD_XS_AreaDelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SOD_XS_Area__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterar_Sobre_Tipificaciones_Especiales.SOD_XS_MotivoDelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SOD_XS_Motivo__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterar_Sobre_Tipificaciones_Especiales.SOD_XS_SubmotivoDelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SOD_XS_Submotivo__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determinar_Accion</targetReference>
            </connector>
            <label>Si Aplica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujos_desactivados</name>
        <label>Flujos desactivados?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Obtener_Tipificaciones_Especiales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SOD_XS_Bypass__c.SOD_XS_DesactivarFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_Encontro_Tipificacion_Especial</name>
        <label>Se Encontro Tipificacion Especial</label>
        <locationX>638</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Se_Encontro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TiendaQueVende.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_CC_Responsable</targetReference>
            </connector>
            <label>Si Se Encontro</label>
        </rules>
    </decisions>
    <description>Flujo Record Triggered Flow Run After Save: Actualizar Centro de Costo Responsable (6)</description>
    <environments>Default</environments>
    <interviewLabel>SOD_XS_RTFAS_ActualizarCCResponsable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_RTFAS_ActualizarCCResponsable</label>
    <loops>
        <name>Iterar_Sobre_Tipificaciones_Especiales</name>
        <label>Iterar Sobre Tipificaciones Especiales</label>
        <locationX>638</locationX>
        <locationY>575</locationY>
        <collectionReference>Obtener_Tipificaciones_Especiales</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determinar_Si_Caso_Aplica</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Se_Encontro_Tipificacion_Especial</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Tipificaciones_Especiales</name>
        <label>Obtener Tipificaciones Especiales</label>
        <locationX>638</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_Sobre_Tipificaciones_Especiales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_PaisDelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.SOD_XS_Country__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SOD_XS_TipificacionEspecial__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_CC_Responsable</name>
        <label>Actualizar CC Responsable</label>
        <locationX>506</locationX>
        <locationY>1523</locationY>
        <inputAssignments>
            <field>SOD_XS_CentroCostoResponsable__c</field>
            <value>
                <elementReference>TiendaQueVende.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flujos_desactivados</targetReference>
        </connector>
        <filterFormula>AND(NOT(ISPICKVAL({!$Record.Status}, &apos;Closed&apos;)), OR(ISCHANGED({!$Record.SOD_XS_TiendaVende__c}),ISCHANGED({!$Record.SOD_XS_CentroCostoResponsable__c})))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>TestVar1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;Testing Flow Path&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>TiendaQueVende</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SOD_XS_CentroDeCosto__c</objectType>
    </variables>
</Flow>
