Sodimac-DEV2/force-app/main/default/flows/SOD_XS_STF_AddProductsToCaseFcom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Add_Products_To_Case_Fcom</name>
        <label>Invoke Add Products To Case Fcom</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>SOD_XS_InvokeAddProductsToCase</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Caso_fue_creado_ayer_o_despues</name>
        <label>Caso fue creado ayer o despues</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Yesterday_DateTimeValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Add_Products_To_Case_Fcom</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo Scheduled Triggered Flow: Actualiza Caso Fcom con informacion de la Reserva y Productos provenientes del Backend</description>
    <environments>Default</environments>
    <formulas>
        <name>Get_Yesterday_DateTimeValue</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TODAY()-1)</expression>
    </formulas>
    <interviewLabel>SOD_XS_RTFAS_WebToCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_STF_AddProductsToCaseFcom</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Caso_fue_creado_ayer_o_despues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_IdExterno__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>F.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_AuxCompletitudDatosDelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parcial</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-12</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
