Sodimac-DEV2/force-app/main/default/flows/SOD_XS_Notificacion_VencimientoTarea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Se notifica a los destinatarios agregados anteriormente del vencimiento de la tarea</description>
        <name>Notificacion_Vencimientos_Tarea</name>
        <label>Notificación Vencimientos Tarea</label>
        <locationX>974</locationX>
        <locationY>1550</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CuerpoNotificacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>obtenerNotificacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Destinatario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Tarea Vencida</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Se agrega a la colección de destinatarios el propietario y el gestor del caso</description>
        <name>Asignar_Destinatario_Propietario_Caso_0</name>
        <label>Asignar Destinatario Propietario Caso</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Destinatario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObtenerRegistroCaso.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinatario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificacion_Vencimientos_Tarea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se agrega a la colección de destinatarios el propietario de la tarea y el gestor del caso</description>
        <name>Asignar_Destinatario_Propietario_Tarea_0</name>
        <label>Asignar Destinatario Propietario Tarea</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Destinatario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>obtenerTarea.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinatario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificacion_Vencimientos_Tarea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se agrega a la colección de destinatarios el propietario de la tarea, el propietario y el gestor del caso</description>
        <name>Asignar_Destinatarios_Tarea_0</name>
        <label>Asignar Destinatarios Tarea</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Destinatario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>obtenerTarea.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinatario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObtenerRegistroCaso.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinatario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificacion_Vencimientos_Tarea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se agrega a la colección de destinatarios el gestor del caso</description>
        <name>Asignar_Destinatarios_Tarea_Gestor_0</name>
        <label>Asignar Destinatarios Tarea Gestor</label>
        <locationX>1634</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Destinatario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificacion_Vencimientos_Tarea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asigna el propietario del caso</description>
        <name>Asignar_Propietario_Caso</name>
        <label>Asignar Propietario Caso</label>
        <locationX>974</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>obtenerTarea.SOD_XS_PropietarioDelCaso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroCaso.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validacion_Propietarios_No_Colas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Propietario_Nulo</name>
        <label>Check Propietario Nulo</label>
        <locationX>1766</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_es_nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Destinatarios_Tarea_Gestor_0</targetReference>
            </connector>
            <label>No es nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Propietario_Nulo_0</name>
        <label>Check Propietario Nulo</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_es_nulo_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtenerTarea.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtenerTarea.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Destinatario_Propietario_Tarea_0</targetReference>
            </connector>
            <label>No es nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Propietario_Nulo_0_0</name>
        <label>Check Propietario Nulo</label>
        <locationX>710</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_es_nulo_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Destinatario_Propietario_Caso_0</targetReference>
            </connector>
            <label>No es nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Propietario_Nulo_0_0_0</name>
        <label>Check Propietario Nulo</label>
        <locationX>1238</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_es_nulo_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.SOD_XS_GestorNivel2__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtenerTarea.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtenerTarea.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Destinatarios_Tarea_0</targetReference>
            </connector>
            <label>No es nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujos_desactivados</name>
        <label>Flujos desactivados?</label>
        <locationX>677</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>obtenerTarea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SOD_XS_Bypass__c.SOD_XS_DesactivarFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se valida que los propietarios de la tarrea y caso no sean colas.</description>
        <name>Validacion_Propietarios_No_Colas</name>
        <label>Validación Propietarios No Colas</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Check_Propietario_Nulo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Propietario Cola</defaultConnectorLabel>
        <rules>
            <name>Propietario_Tarea_No_Colas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtenerTarea.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtenerTarea.SOD_XS_FechaYHoraDeVencimiento__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Propietario_Nulo_0</targetReference>
            </connector>
            <label>Propietario Tarea No Colas</label>
        </rules>
        <rules>
            <name>Propietario_Caso_No_Cola</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtenerTarea.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtenerTarea.SOD_XS_FechaYHoraDeVencimiento__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Propietario_Nulo_0_0</targetReference>
            </connector>
            <label>Propietario Caso No Cola</label>
        </rules>
        <rules>
            <name>Propietario_Tarea_Caso_No_Cola</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtenerTarea.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtenerTarea.SOD_XS_FechaYHoraDeVencimiento__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Propietario_Nulo_0_0_0</targetReference>
            </connector>
            <label>Propietario Tarea y Caso No Cola</label>
        </rules>
    </decisions>
    <description>Se notifica al propietario de la tarea, propietario del caso, y superior del propietario del caso v2
Se agrega Check Propietario Nulo</description>
    <interviewLabel>SOD_XS_Notificación_VencimientoTarea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_Notificación_VencimientoTarea</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtener_Caso</name>
        <label>obtenerCaso</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Propietario_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtenerTarea.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene la notificación vencimiento tarea</description>
        <name>obtenerNotificacion</name>
        <label>obtenerNotificacion</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenerRegistroCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOD_XS_Notificacion_VencimientoTarea</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene el caso relacionado con la tarea</description>
        <name>ObtenerRegistroCaso</name>
        <label>ObtenerRegistroCaso</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtener_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtenerTarea.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen los registros de la tarea</description>
        <name>obtenerTarea</name>
        <label>obtenerTarea</label>
        <locationX>1568</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PausaTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TareaInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flujos_desactivados</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CuerpoNotificacion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Estimado(a), la tarea {!obtenerTarea.SOD_XS_IdentificadorTarea__c} del caso n° {!ObtenerRegistroCaso.CaseNumber} ha vencido.</text>
    </textTemplates>
    <variables>
        <name>Destinatario</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GestorPropietarioCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TareaInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <description>Se pausa el flujo cuando el campo fechayhoradeVencimiento de la tarea no es nulo, y se activa cuando se cumple la fecha y hora del valor del campo. Además se valida que la tarea no se encuentre en estado cerrada.</description>
        <name>PausaTarea</name>
        <label>Pausa Tarea</label>
        <locationX>1568</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No vencimiento</defaultConnectorLabel>
        <waitEvents>
            <name>Fecha_Vencimiento_Tarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtenerTarea.SOD_XS_FechaYHoraDeVencimiento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtenerTarea.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtenerNotificacion</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>SOD_XS_FechaYHoraDeVencimiento__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>TareaInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Fecha Vencimiento Tarea</label>
        </waitEvents>
    </waits>
</Flow>
