Sodimac-DEV2/force-app/main/default/flows/SOD_XS_FlujoUnificadoCasos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CO_Atraso_en_la_Entrega</name>
        <label>CO - Atraso en la Entrega</label>
        <locationX>1522</locationX>
        <locationY>6125</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CO_Route_Skills_Atraso_en_la_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;6487ab88&quot;,&quot;skillId&quot;:&quot;0C52E000000PHqVSAW&quot;,&quot;skillLabel&quot;:&quot;CO - Atraso en la Entrega&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Backoffice_PaP</name>
        <label>CO - Backoffice PaP</label>
        <locationX>1258</locationX>
        <locationY>6125</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CO_Route_Skills_Backoffice_PaP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e5af3c1b&quot;,&quot;skillId&quot;:&quot;0C52E000000PHqaSAG&quot;,&quot;skillLabel&quot;:&quot;CO - Backoffice PaP&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Route_Skills_Atraso_en_la_Entrega</name>
        <label>CO - Route Skills - Atraso en la Entrega</label>
        <locationX>1522</locationX>
        <locationY>6233</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Hay_que_actualizar_Tareas_Hijas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Route_Skills_Backoffice_PaP</name>
        <label>CO - Route Skills - Backoffice PaP</label>
        <locationX>1258</locationX>
        <locationY>6233</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Hay_que_actualizar_Tareas_Hijas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <stringValue>0052E00000NMsJiQAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
            <value>
                <stringValue>Back office Pap</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Route_Skills_Servicio_T_cnico</name>
        <label>CO - Route Skills - Servicio Técnico</label>
        <locationX>1786</locationX>
        <locationY>6233</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Hay_que_actualizar_Tareas_Hijas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Servicio_Tecnico</name>
        <label>CO - Servicio Técnico</label>
        <locationX>1786</locationX>
        <locationY>6125</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CO_Route_Skills_Servicio_T_cnico</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e31480ea&quot;,&quot;skillId&quot;:&quot;0C52E000000TQ6sSAG&quot;,&quot;skillLabel&quot;:&quot;CO - Servicio Tecnico&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invocar_Activar_Reglas_de_Asignacion_del_Caso_0</name>
        <label>Invocar Activar Reglas de Asignacion del Caso</label>
        <locationX>1762</locationX>
        <locationY>3407</locationY>
        <actionName>SOD_XS_InvokeActivateCaseAssignmentRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invocar_Agregar_Productos_del_Caso_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invocar_Agregar_Productos_del_Caso_0</name>
        <label>Invocar Agregar Productos del Caso</label>
        <locationX>1762</locationX>
        <locationY>3515</locationY>
        <actionName>SOD_XS_InvokeAddProductsToCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Obtener_Cliente_Notificaciones</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Solicitar_Evidencia</name>
        <label>Solicitar Evidencia</label>
        <locationX>1489</locationX>
        <locationY>5441</locationY>
        <actionName>Case.SOD_CO_Caso_Notificacion_SolicitudEvidencia</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Agregar_a_La_Coleccion</name>
        <label>Agregar a La Colección</label>
        <locationX>1632</locationX>
        <locationY>7049</locationY>
        <assignmentItems>
            <assignToReference>TareasParaActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Tareas_Caso_Abierto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Tareas_Caso_Abierto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_a_La_Coleccion1</name>
        <label>Agregar a La Colección</label>
        <locationX>1984</locationX>
        <locationY>7049</locationY>
        <assignmentItems>
            <assignToReference>TareasParaActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Tareas_Caso_Cerrado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Tareas_Caso_Cerrado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Propietario</name>
        <label>Asigna Propietario</label>
        <locationX>1632</locationX>
        <locationY>6941</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_Tareas_Caso_Abierto.SOD_XS_PropietarioDelCaso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_La_Coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Caso_Cerrado</name>
        <label>Asignar Caso Cerrado</label>
        <locationX>1984</locationX>
        <locationY>6941</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_Tareas_Caso_Cerrado.SOD_XS_CasoCerrado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsClosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_La_Coleccion1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Caso_Abierto</name>
        <label>Caso Abierto</label>
        <locationX>1720</locationX>
        <locationY>6725</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Tareas_Caso_Cerrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>CasoAbierto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Tareas_Caso_Abierto</targetReference>
            </connector>
            <label>Caso Abierto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cliente_Tiene_Email</name>
        <label>Cliente Tiene Email</label>
        <locationX>1621</locationX>
        <locationY>5225</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cliente_Notificaciones.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Email_Message</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>CO_Determinar_Notificacion</name>
        <label>CO - Determinar Notificacion</label>
        <locationX>1940</locationX>
        <locationY>4793</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Producto_Da_ado</name>
            <conditionLogic>((1 AND (2 OR 8) AND (3 OR 6 OR 7 OR 9 OR 10 OR 11 OR 12)) OR (13 AND 8 AND 9 AND 14)) AND (15 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho / Retiro en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto Dañado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto Incompleto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto no Corresponde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicio Técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calidad de Producto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho Incompleto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrega Errónea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Submotivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicio Técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Template</targetReference>
            </connector>
            <label>Producto Dañado</label>
        </rules>
    </decisions>
    <decisions>
        <name>CO_Determinar_que_Skills_se_Aplican</name>
        <label>CO - Determinar que Skills se Aplican</label>
        <locationX>1654</locationX>
        <locationY>6017</locationY>
        <defaultConnector>
            <targetReference>Hay_que_actualizar_Tareas_Hijas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Bodega_Proveedor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho / Retiro en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atraso en la Entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 928 BODEGA PROVEEDOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Backoffice_PaP</targetReference>
            </connector>
            <label>Bodega Proveedor</label>
        </rules>
        <rules>
            <name>Atraso_en_la_Entrega</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho / Retiro en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atraso en la Entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 924 TENJO VAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 980 CEDI FUNZA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 930 CEDI MADRID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 913 CEDI VALLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Atraso_en_la_Entrega</targetReference>
            </connector>
            <label>Atraso en la Entrega</label>
        </rules>
        <rules>
            <name>Servicio_Tecnico</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10) AND (11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19) AND 20</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicio Técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Submotivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicio Técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Encuesta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redes Sociales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 30 CALI SUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 31 CALI NORTE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 32 PALMIRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 33 TULUA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 56 MONTERIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 60 PEREIRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 65 MANIZALES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 66 ARMENIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 928 BODEGA PROVEEDOR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Servicio_Tecnico</targetReference>
            </connector>
            <label>Servicio Técnico</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Origen_del_Caso</name>
        <label>Determinar Origen del Caso</label>
        <locationX>2182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Obtener_Cliente_Notificaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Web_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web-to-Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pais_Del_Caso_Web_to_Case</targetReference>
            </connector>
            <label>Web to Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Pais</name>
        <label>Determinar Pais</label>
        <locationX>2182</locationX>
        <locationY>4685</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Col</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Determinar_Notificacion</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Si_Caso_Aplica_0</name>
        <label>Determinar Si Caso Aplica</label>
        <locationX>1738</locationX>
        <locationY>2759</locationY>
        <defaultConnector>
            <targetReference>Iterar_Sobre_Tipificaciones_Especiales_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Aplica_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_AuxMotivoDelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SOD_XS_AuxMotivoDelCaso__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Record_Types</targetReference>
            </connector>
            <label>Si Aplica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Tipo_de_Cliente</name>
        <label>Determinar Tipo de Cliente</label>
        <locationX>1432</locationX>
        <locationY>1835</locationY>
        <defaultConnector>
            <targetReference>Obtener_Person_Account_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente Persona</defaultConnectorLabel>
        <rules>
            <name>Cliente_Empresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Número Identificación Tributaria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Bussiness_Account_RT</targetReference>
            </connector>
            <label>Cliente Empresa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Message_Se_Puede_Enviar</name>
        <label>Email Message Se Puede Enviar</label>
        <locationX>1775</locationX>
        <locationY>5117</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Email_Mesage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cliente_Tiene_Email</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esta_activo</name>
        <label>Esta activo ?</label>
        <locationX>1397</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Eliminar_Registro_desencadenador_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_esta_activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Feature_Toggle_Web_to_Case_Colombia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Tipificaciones_Especiales_0</targetReference>
            </connector>
            <label>Si esta activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_mismo_Caso_abierto</name>
        <label>Existe mismo Caso abierto ?</label>
        <locationX>790</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Obtener_Pais</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existe_mismo_caso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Casos_Abiertos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_RecordTypeId_Reincidencia_Recontacto</targetReference>
            </connector>
            <label>Si existe mismo caso</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujos_desactivados</name>
        <label>Flujos desactivados?</label>
        <locationX>984</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Determinar_Origen_del_Caso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SOD_XS_Bypass__c.SOD_XS_DesactivarFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_que_actualizar_Tareas_Hijas</name>
        <label>Hay que actualizar Tareas Hijas?</label>
        <locationX>1940</locationX>
        <locationY>6509</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Tareas</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pais_Del_Caso_Web_to_Case</name>
        <label>Pais Del Caso Web-to-Case</label>
        <locationX>1832</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Colombia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaisDelCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Feature_Toggle_Web_to_Case_Colombia</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_del_Caso</name>
        <label>RecordType del Caso</label>
        <locationX>1894</locationX>
        <locationY>2975</locationY>
        <defaultConnector>
            <targetReference>Loop_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hace_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Record_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_TipoDelCaso__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_RecordType_del_Caso</targetReference>
            </connector>
            <label>Hace match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_debe_enrutar_el_caso_por_habilidades</name>
        <label>Se debe enrutar el caso por habilidades?</label>
        <locationX>1940</locationX>
        <locationY>5801</locationY>
        <defaultConnector>
            <targetReference>Hay_que_actualizar_Tareas_Hijas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Queue</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_encontro_Tienda</name>
        <label>Se encontro Tienda</label>
        <locationX>1531</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Obtener_Cliente_Notificaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_se_encontro_tienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Tienda</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Tienda_Que_Vende_Del_Caso</targetReference>
            </connector>
            <label>Si se encontro tienda</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_encontro_un_Cliente</name>
        <label>Se encontro un Cliente ?</label>
        <locationX>1234</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Determinar_Tipo_de_Cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No se encontro</defaultConnectorLabel>
        <rules>
            <name>Si_se_encontro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Cliente_del_Caso</targetReference>
            </connector>
            <label>Si se encontro</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CO_EmailSubjectLine_SolicitudEvidencia</name>
        <dataType>String</dataType>
        <expression>&apos;Necesitamos que nos envies evidencias para resolver tu caso &apos; + {!$Record.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>DescripcionDelCaso</name>
        <dataType>String</dataType>
        <expression>&apos;Orden de Compra: &apos; + {!$Record.SOD_XS_AuxOrdenDeCompra__c} +  BR() +
&apos;Codigo del Producto Afectado: &apos; + {!$Record.SOD_XS_AuxCodigoDelProductoAfectado__c} +  BR() +
&apos;Nombre del Producto Afectado: &apos; + {!$Record.SOD_XS_AuxNombreDelProductoAfectado__c} +  BR() +
&apos;Fecha de la Compra: &apos; + TEXT({!$Record.SOD_XS_AuxFechaDeLaCompra__c}) +  BR() +
&apos;Tipo de Documento de Venta: &apos; + TEXT({!$Record.SOD_XS_AuxTipoDeDocumentoDeVenta__c}) +  BR() +
&apos;Nro. de Documento de Venta: &apos; + {!$Record.SOD_XS_AuxNumeroDeDocumentoDeVenta__c} +  BR() +
&apos;Comentarios: &apos; + {!$Record.Description}</expression>
    </formulas>
    <formulas>
        <name>DivisaDelCaso</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.SOD_XS_AuxPaisDelCaso__c}, &apos;Colombia&apos;),&apos;COP&apos;,(IF(ISPICKVAL({!$Record.SOD_XS_AuxPaisDelCaso__c}, &apos;Perú&apos;),&apos;PEN&apos;,&apos;CLP&apos;)))</expression>
    </formulas>
    <formulas>
        <name>NombreCompletoCliente</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.SOD_XS_AuxNombreCompletoDelCliente__c}),{!$Record.SOD_XS_AuxNombresDelCliente__c} + &apos; &apos; +{!$Record.SOD_XS_AuxApellidosDelCliente__c},{!$Record.SOD_XS_AuxNombreCompletoDelCliente__c})</expression>
    </formulas>
    <formulas>
        <name>PaisDelCaso</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.SOD_XS_PaisDeLaCuenta__c})),{!$Record.SOD_XS_PaisDeLaCuenta__c},(IF(NOT(ISBLANK({!$Record.SOD_XS_PaisdelCaso__c})),{!$Record.SOD_XS_PaisdelCaso__c},TEXT({!$Record.SOD_XS_AuxPaisDelCaso__c}))))</expression>
    </formulas>
    <interviewLabel>SOD_XS_FlujoUnificadoCasos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_FlujoUnificadoCasos</label>
    <loops>
        <name>Iterar_Sobre_Tipificaciones_Especiales_0</name>
        <label>Iterar Sobre Tipificaciones Especiales</label>
        <locationX>1234</locationX>
        <locationY>2651</locationY>
        <collectionReference>Obtener_Tipificaciones_Especiales_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determinar_Si_Caso_Aplica_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Actualizar_Divisa_Aux_Nombre_Completo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Record_Types</name>
        <label>Loop Record Types</label>
        <locationX>1674</locationX>
        <locationY>2867</locationY>
        <collectionReference>Obtener_RecordTypes_del_Caso</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordType_del_Caso</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Actualizar_Tipificacion_del_Caso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Tareas_Caso_Abierto</name>
        <label>Recorrer Tareas Caso Abierto</label>
        <locationX>1544</locationX>
        <locationY>6833</locationY>
        <collectionReference>Obtener_Tareas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_Propietario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Tareas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Tareas_Caso_Cerrado</name>
        <label>Recorrer Tareas Caso Cerrado</label>
        <locationX>1896</locationX>
        <locationY>6833</locationY>
        <collectionReference>Obtener_Tareas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Caso_Cerrado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Tareas1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Cliente_Empresa</name>
        <label>Crear Cliente Empresa</label>
        <locationX>1300</locationX>
        <locationY>2051</locationY>
        <connector>
            <targetReference>Obtener_Cliente_Recien_Creado_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>DivisaDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreCompletoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxTelefonoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obtener_Bussiness_Account_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Country__c</field>
            <value>
                <elementReference>Obtener_Pais.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Direccion__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxDireccionDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_NroDocumento__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxNumeroDeDocumentoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_TipoDocumento__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Cliente_Persona</name>
        <label>Crear Cliente Persona</label>
        <locationX>1564</locationX>
        <locationY>2051</locationY>
        <connector>
            <targetReference>Obtener_Cliente_Recien_Creado</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>DivisaDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxNombresDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxApellidosDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxEmailDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxTelefonoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Country__c</field>
            <value>
                <elementReference>Obtener_Pais.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Direccion__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxDireccionDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_NroDocumento__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxNumeroDeDocumentoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_TipoDocumento__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Email_Message</name>
        <label>Crear Email Message</label>
        <locationX>1489</locationX>
        <locationY>5333</locationY>
        <connector>
            <targetReference>Solicitar_Evidencia</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>Obtener_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>noreplysac@homecenter.co</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>$Record.Owner:User.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_EmailTemplateName__c</field>
            <value>
                <elementReference>Obtener_Template.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CO_EmailSubjectLine_SolicitudEvidencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>CO_EmailBodyPlainText_SolicitudEvidencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Recontacto</name>
        <label>Crear Recontacto</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Eliminar_Registro_desencadenador</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>DivisaDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obtener_RecordTypeId_Reincidencia_Recontacto.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_CanalDeOrigen__c</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Caso__c</field>
            <value>
                <elementReference>Obtener_Casos_Abiertos.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Comentario__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <object>SOD_XS_ReContacto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Eliminar_Registro_desencadenador</name>
        <label>Eliminar Registro desencadenador</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Obtener_Cliente_Notificaciones</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Eliminar_Registro_desencadenador_0</name>
        <label>Eliminar Registro desencadenador</label>
        <locationX>2004</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Obtener_Cliente_Notificaciones</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Case_Owner_Queue</name>
        <label>Case Owner Queue</label>
        <locationX>1654</locationX>
        <locationY>5909</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CO_Determinar_que_Skills_se_Aplican</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Bussiness_Account_RT</name>
        <label>Obtener Bussiness Account RT</label>
        <locationX>1300</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Cliente_Empresa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Casos_Abiertos</name>
        <label>Obtener Casos Abiertos</label>
        <locationX>790</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_mismo_Caso_abierto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web-to-Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_AuxPaisDelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxPaisDelCaso__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_AuxMotivoDelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxMotivoDelCaso__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_AuxNumeroDeDocumentoDelCliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxNumeroDeDocumentoDelCliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_AuxTipoDeDocumentoDelCliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_AuxCodigoDelProductoAfectado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxCodigoDelProductoAfectado__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_AuxOrdenDeCompra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxOrdenDeCompra__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cliente</name>
        <label>Obtener Cliente</label>
        <locationX>1234</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_encontro_un_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_TipoDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_NroDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxNumeroDeDocumentoDelCliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Pais.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cliente_Notificaciones</name>
        <label>Obtener Cliente</label>
        <locationX>2182</locationX>
        <locationY>4577</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determinar_Pais</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cliente_Recien_Creado</name>
        <label>Obtener Cliente Recien Creado</label>
        <locationX>1564</locationX>
        <locationY>2159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Cliente_del_Caso_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Cliente_Persona</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cliente_Recien_Creado_0</name>
        <label>Obtener Cliente Recien Creado</label>
        <locationX>1300</locationX>
        <locationY>2159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Cliente_del_Caso_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Cliente_Empresa</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Email_Mesage</name>
        <label>Obtener Email Mesage</label>
        <locationX>1775</locationX>
        <locationY>5009</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Message_Se_Puede_Enviar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmailTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Feature_Toggle_Web_to_Case_Colombia</name>
        <label>Obtener Feature Toggle Web-to-Case Colombia</label>
        <locationX>1397</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esta_activo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOD_CO_Web_To_Case_Integration</stringValue>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_FeatureToggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Pais</name>
        <label>Obtener Pais</label>
        <locationX>1531</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Tienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxPaisDelCaso__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Person_Account_RT</name>
        <label>Obtener Person Account RT</label>
        <locationX>1564</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Cliente_Persona</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_RecordTypeId_Reincidencia_Recontacto</name>
        <label>Obtener RecordTypeId Reincidencia Recontacto</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Recontacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reincidencia</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOD_XS_ReContacto__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_RecordTypes_del_Caso</name>
        <label>Obtener RecordTypes del Caso</label>
        <locationX>1234</locationX>
        <locationY>2543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_Sobre_Tipificaciones_Especiales_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tareas</name>
        <label>Obtener Tareas</label>
        <locationX>1720</locationX>
        <locationY>6617</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Caso_Abierto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Template</name>
        <label>Obtener Template</label>
        <locationX>1775</locationX>
        <locationY>4901</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Email_Mesage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SODIMAC - CO Solicitud Evidencia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tienda</name>
        <label>Obtener Tienda</label>
        <locationX>1531</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_encontro_Tienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_IdExterno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxTiendaQueVende__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_CentroDeCosto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tipificaciones_Especiales_0</name>
        <label>Obtener Tipificaciones Especiales</label>
        <locationX>790</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Casos_Abiertos</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SOD_XS_PaisDelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.SOD_XS_Country__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_PaisDelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxPaisDelCaso__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SOD_XS_TipificacionEspecial__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Cliente_del_Caso</name>
        <label>Actualizar Cliente del Caso</label>
        <locationX>1036</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>Obtener_RecordTypes_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Cliente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Obtener_Cliente.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Cliente_del_Caso_0</name>
        <label>Actualizar Cliente del Caso</label>
        <locationX>1564</locationX>
        <locationY>2267</locationY>
        <connector>
            <targetReference>Obtener_RecordTypes_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Cliente_Recien_Creado.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Obtener_Cliente_Recien_Creado.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Cliente_del_Caso_0_0</name>
        <label>Actualizar Cliente del Caso</label>
        <locationX>1300</locationX>
        <locationY>2267</locationY>
        <connector>
            <targetReference>Obtener_RecordTypes_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Cliente_Recien_Creado_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Divisa_Aux_Nombre_Completo</name>
        <label>Actualizar Divisa &amp; Aux Nombre Completo</label>
        <locationX>1762</locationX>
        <locationY>3299</locationY>
        <connector>
            <targetReference>Invocar_Activar_Reglas_de_Asignacion_del_Caso_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>DivisaDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescripcionDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_AuxNombreCompletoDelCliente__c</field>
            <value>
                <elementReference>NombreCompletoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_RecordType_del_Caso</name>
        <label>Actualizar RecordType del Caso</label>
        <locationX>1762</locationX>
        <locationY>3083</locationY>
        <connector>
            <targetReference>Actualizar_Tipificacion_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Loop_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Tareas</name>
        <label>Actualizar Tareas</label>
        <locationX>1544</locationX>
        <locationY>7241</locationY>
        <inputReference>TareasParaActualizar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Tareas1</name>
        <label>Actualizar Tareas</label>
        <locationX>1896</locationX>
        <locationY>7241</locationY>
        <inputReference>TareasParaActualizar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Tienda_Que_Vende_Del_Caso</name>
        <label>Actualizar Tienda Que Vende Del Caso</label>
        <locationX>1234</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Obtener_Cliente</targetReference>
        </connector>
        <inputAssignments>
            <field>SOD_XS_CentroCostoResponsable__c</field>
            <value>
                <elementReference>Obtener_Tienda.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_TiendaVende__c</field>
            <value>
                <elementReference>Obtener_Tienda.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Tipificacion_del_Caso</name>
        <label>Actualizar Tipificacion del Caso</label>
        <locationX>1762</locationX>
        <locationY>3191</locationY>
        <connector>
            <targetReference>Actualizar_Divisa_Aux_Nombre_Completo</targetReference>
        </connector>
        <inputAssignments>
            <field>SOD_XS_Area__c</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_AreaDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Motivo__c</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_MotivoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Submotivo__c</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_SubmotivoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_MotivoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_TipoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>858</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flujos_desactivados</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>CO_EmailBodyPlainText_SolicitudEvidencia</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!$Record.Account.FirstName} {!$Record.Account.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Para nosotros es muy importante dar solución a tu requerimiento No {!$Record.CaseNumber}, relacionado con el producto que recibiste con novedad (dañado, piezas/producto incompleto, errado, no funciona, problemas de calidad entre otros), para avanzar en tu solicitud es indispensable que envíes en las siguientes 24 horas al correo {!$Record.Owner:User.Email} las fotos de: producto y empaque donde se identifique la novedad que mencionas, y de todas las etiquetas de las cajas, si se trata de piezas faltantes: foto del manual especificando cuáles son. Así mismo, requerimos que nos confirmes los datos de contacto del comprador:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nombre y número de documento del comprador:&lt;/p&gt;&lt;p&gt;Dirección donde se encuentra el producto:&lt;/p&gt;&lt;p&gt;Número de celular:&lt;/p&gt;&lt;p&gt;Fecha de entrega del Producto:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Posterior al envío de las fotografías, el asesor de Experiencia de Clientes se contactará contigo para buscar la mejor alternativa.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialmente&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Experiencia de Clientes Homecenter&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>skillList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>TareasParaActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
