Sodimac-DEV2/force-app/main/default/flows/SOD_XS_EnviarEncuestaPostReclamo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CL_Enviar_Encuesta_Post_Reclamo</name>
        <label>CL Enviar Encuesta Post Reclamo</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>Case.SOD_CL_Caso_Notificacion_CierreEncuestaPostReclamo</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Enviar_Encuesta_Post_Reclamo</name>
        <label>CO Enviar Encuesta Post Reclamo</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>Case.SOD_CO_Caso_Notificacion_CierreEncuestaPostReclamo</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PE_Enviar_Encuesta_Post_Reclamo_Fcom</name>
        <label>PE Enviar Encuesta Post Reclamo Fcom</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <actionName>Case.SOD_PE_Caso_Notificacion_CierreEncuestaPostReclamoFcom</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PE_Enviar_Encuesta_Post_Reclamo_Sodimac</name>
        <label>PE Enviar Encuesta Post Reclamo Sodimac</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <actionName>Case.SOD_PE_Caso_Notificacion_CierreEncuestaPostReclamo</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Cliente_Tiene_Email</name>
        <label>Cliente Tiene Email</label>
        <locationX>1848</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente_Del_Caso.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determinar_si_el_Caso_es_candidato_para_enviar_la_Encuesta_Post_Reclamo</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Envio</name>
        <label>Determinar Envio</label>
        <locationX>1172</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>No Enviar</defaultConnectorLabel>
        <rules>
            <name>Enviar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Casos_Abiertos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determinar_Pais</targetReference>
            </connector>
            <label>Enviar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Pais</name>
        <label>Determinar Pais</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso_Desencadenador.SOD_XS_PaisDeLaCuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Enviar_Encuesta_Post_Reclamo</targetReference>
            </connector>
            <label>CL</label>
        </rules>
        <rules>
            <name>CO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso_Desencadenador.SOD_XS_PaisDeLaCuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Enviar_Encuesta_Post_Reclamo</targetReference>
            </connector>
            <label>CO</label>
        </rules>
        <rules>
            <name>PE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso_Desencadenador.SOD_XS_PaisDeLaCuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perú</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quien_Envia_Peru</targetReference>
            </connector>
            <label>PE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_si_el_Caso_es_candidato_para_enviar_la_Encuesta_Post_Reclamo</name>
        <label>Determinar si el Caso es candidato para enviar la Encuesta Post Reclamo</label>
        <locationX>1535</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No es Candidato</defaultConnectorLabel>
        <rules>
            <name>Es_Candidato</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Caso_Desencadenador.CreatedBy.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Maestro Datos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso_Desencadenador.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso_Desencadenador.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso_Desencadenador.SOD_XS_TiendaVende__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>F.COM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso_Desencadenador.SOD_XS_Motivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PVC Sernac Chile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Casos_Abiertos</targetReference>
            </connector>
            <label>Es Candidato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quien_Envia_Peru</name>
        <label>Quien Envia Peru</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SODIMAC_PE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso_Desencadenador.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>F.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Enviar_Encuesta_Post_Reclamo_Sodimac</targetReference>
            </connector>
            <label>SODIMAC PE</label>
        </rules>
        <rules>
            <name>FCOM_PE</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Caso_Desencadenador.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso_Desencadenador.SOD_XS_CodigoTiendaQueVende__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1002</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso_Desencadenador.SOD_XS_CodigoTiendaQueVende__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>575</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso_Desencadenador.SOD_XS_Motivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Anulación Orden de Compra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Caso_Desencadenador.SOD_XS_Motivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NCR - Incumplimiento en Reversión</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PE_Enviar_Encuesta_Post_Reclamo_Fcom</targetReference>
            </connector>
            <label>FCOM PE</label>
        </rules>
    </decisions>
    <description>Flujo utilizado para desencadenar el envío de la Encuesta Post Reclamo tras el cierre de un Caso.
(Se agrega criterio entrada: Caso no puede haber sido reabierto)</description>
    <interviewLabel>SOD_XS_EnviarEncuestaPostReclamo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_EnviarEncuestaPostReclamo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Caso_Desencadenador</name>
        <label>Caso Desencadenador</label>
        <locationX>1848</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_Del_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_Reabierto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Cliente_Del_Caso</name>
        <label>Cliente Del Caso</label>
        <locationX>1848</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_Tiene_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso_Desencadenador.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Casos_Abiertos</name>
        <label>Obtener Casos Abiertos</label>
        <locationX>1172</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determinar_Envio</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.SOD_XS_Area__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.SOD_XS_Motivo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_Submotivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.SOD_XS_Submotivo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gestionado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1722</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Caso_Desencadenador</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
