Sodimac-DEV2/force-app/main/default/flows/SOD_XS_FlujoUnificadoCasos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CO_Atraso_en_la_Entrega</name>
        <label>CO - Atraso en la Entrega</label>
        <locationX>1133</locationX>
        <locationY>7763</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CO_Route_Skills_Atraso_en_la_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;6487ab88&quot;,&quot;skillId&quot;:&quot;0C52E000000PHqVSAW&quot;,&quot;skillLabel&quot;:&quot;CO - Atraso en la Entrega&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Backoffice_PaP</name>
        <label>CO - Backoffice PaP</label>
        <locationX>869</locationX>
        <locationY>7763</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CO_Route_Skills_Backoffice_PaP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e5af3c1b&quot;,&quot;skillId&quot;:&quot;0C52E000000PHqaSAG&quot;,&quot;skillLabel&quot;:&quot;CO - Backoffice PaP&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Route_Skills_Atraso_en_la_Entrega</name>
        <label>CO - Route Skills - Atraso en la Entrega</label>
        <locationX>1133</locationX>
        <locationY>7883</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Hay_que_actualizar_Tareas_Hijas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Route_Skills_Backoffice_PaP</name>
        <label>CO - Route Skills - Backoffice PaP</label>
        <locationX>869</locationX>
        <locationY>7883</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Hay_que_actualizar_Tareas_Hijas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <stringValue>0052E00000NMsJiQAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
            <value>
                <stringValue>Back office Pap</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Route_Skills_Servicio_T_cnico</name>
        <label>CO - Route Skills - Servicio Técnico</label>
        <locationX>1397</locationX>
        <locationY>7883</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Hay_que_actualizar_Tareas_Hijas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92E0000001V22SAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>SOD_XS_CasosOmnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K92E00000009t8SAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>SOD_XS_Ruta_Omnicanal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CO_Servicio_Tecnico</name>
        <label>CO - Servicio Técnico</label>
        <locationX>1397</locationX>
        <locationY>7763</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CO_Route_Skills_Servicio_T_cnico</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e31480ea&quot;,&quot;skillId&quot;:&quot;0C52E000000TQ6sSAG&quot;,&quot;skillLabel&quot;:&quot;CO - Servicio Tecnico&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invocar_Activar_Reglas_de_Asignacion_del_Caso_0</name>
        <label>Invocar Activar Reglas de Asignacion del Caso</label>
        <locationX>1269</locationX>
        <locationY>3647</locationY>
        <actionName>SOD_XS_InvokeActivateCaseAssignmentRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invocar_Agregar_Productos_del_Caso_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invocar_Agregar_Productos_del_Caso_0</name>
        <label>Invocar Agregar Productos del Caso</label>
        <locationX>1269</locationX>
        <locationY>3767</locationY>
        <actionName>SOD_XS_InvokeAddProductsToCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Se_puede_enviar_notificacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notificar_Creacion_Caso_Web_To_Case</name>
        <label>Notificar Creacion Caso Web To Case</label>
        <locationX>1018</locationX>
        <locationY>6035</locationY>
        <actionName>Case.SOD_CO_Caso_Notificacion_ClienteCrearCasoWebToCase</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Solicitar_Evidencia</name>
        <label>Solicitar Evidencia</label>
        <locationX>50</locationX>
        <locationY>6395</locationY>
        <actionName>Case.SOD_CO_Caso_Notificacion_SolicitudEvidencia</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Agregar_a_La_Coleccion</name>
        <label>Agregar a La Colección</label>
        <locationX>1474</locationX>
        <locationY>8891</locationY>
        <assignmentItems>
            <assignToReference>TareasParaActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Tareas_Caso_Abierto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Tareas_Caso_Abierto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_a_La_Coleccion1</name>
        <label>Agregar a La Colección</label>
        <locationX>1826</locationX>
        <locationY>8891</locationY>
        <assignmentItems>
            <assignToReference>TareasParaActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Tareas_Caso_Cerrado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Tareas_Caso_Cerrado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Propietario</name>
        <label>Asigna Propietario</label>
        <locationX>1474</locationX>
        <locationY>8771</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_Tareas_Caso_Abierto.SOD_XS_PropietarioDelCaso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_La_Coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Caso_Cerrado</name>
        <label>Asignar Caso Cerrado</label>
        <locationX>1826</locationX>
        <locationY>8771</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_Tareas_Caso_Cerrado.SOD_XS_CasoCerrado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsClosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_La_Coleccion1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Caso_Abierto</name>
        <label>Caso Abierto</label>
        <locationX>1562</locationX>
        <locationY>8531</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Tareas_Caso_Cerrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>CasoAbierto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Tareas_Caso_Abierto</targetReference>
            </connector>
            <label>Caso Abierto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cliente_Tiene_Email</name>
        <label>Cliente Tiene Email</label>
        <locationX>1579</locationX>
        <locationY>5195</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_0</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cliente.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Cliente.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Cliente.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Contacto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Contacto.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Cliente.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determinar_Pais</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>CO_Determinar_Notificacion</name>
        <label>CO - Determinar Notificacion</label>
        <locationX>1064</locationX>
        <locationY>5435</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Producto_Da_ado</name>
            <conditionLogic>1 AND 5 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Web-to-Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho / Retiro en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cumple_Motivos_Permitidos</targetReference>
            </connector>
            <label>Producto Dañado</label>
        </rules>
        <rules>
            <name>Web_To_Case_1</name>
            <conditionLogic>(1 OR 4) AND (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web-to-Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_AuxPaisDelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Template_2</targetReference>
            </connector>
            <label>Web To Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>CO_Determinar_que_Skills_se_Aplican</name>
        <label>CO - Determinar que Skills se Aplican</label>
        <locationX>1265</locationX>
        <locationY>7643</locationY>
        <defaultConnector>
            <targetReference>Hay_que_actualizar_Tareas_Hijas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Bodega_Proveedor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho / Retiro en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atraso en la Entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 928 BODEGA PROVEEDOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Backoffice_PaP</targetReference>
            </connector>
            <label>Bodega Proveedor</label>
        </rules>
        <rules>
            <name>Atraso_en_la_Entrega</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho / Retiro en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atraso en la Entrega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 924 TENJO VAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 980 CEDI FUNZA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 930 CEDI MADRID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 913 CEDI VALLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Atraso_en_la_Entrega</targetReference>
            </connector>
            <label>Atraso en la Entrega</label>
        </rules>
        <rules>
            <name>Servicio_Tecnico</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10) AND (11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19) AND 20</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicio Técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Submotivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicio Técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Encuesta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redes Sociales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 30 CALI SUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 31 CALI NORTE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 32 PALMIRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 33 TULUA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 56 MONTERIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 60 PEREIRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 65 MANIZALES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC 66 ARMENIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CentroCostoResponsable__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD 928 BODEGA PROVEEDOR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Servicio_Tecnico</targetReference>
            </connector>
            <label>Servicio Técnico</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cumple_Criterios_Adicionales</name>
        <label>Cumple Criterios Adicionales</label>
        <locationX>336</locationX>
        <locationY>5795</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2022-11-11T23:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Template</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cumple_Motivos_Permitidos</name>
        <label>Cumple Motivos Permitidos</label>
        <locationX>671</locationX>
        <locationY>5555</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto Dañado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto Incompleto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto no Corresponde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrega Errónea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calidad de Producto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cumple_Submotivos_Permitidos</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cumple_Submotivos_Permitidos</name>
        <label>Cumple Submotivos Permitidos</label>
        <locationX>501</locationX>
        <locationY>5675</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Submotivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual Faltante</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cumple_Criterios_Adicionales</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Origen_del_Caso</name>
        <label>Determinar Origen del Caso</label>
        <locationX>1782</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Se_puede_enviar_notificacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Web_to_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web-to-Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pais_Del_Caso_Web_to_Case</targetReference>
            </connector>
            <label>Web to Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Pais</name>
        <label>Determinar Pais</label>
        <locationX>1349</locationX>
        <locationY>5315</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Col</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Determinar_Notificacion</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Pais1</name>
        <label>Determinar Pais</label>
        <locationX>1551</locationX>
        <locationY>7523</locationY>
        <defaultConnector>
            <targetReference>Hay_que_actualizar_Tareas_Hijas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Colombia1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Determinar_que_Skills_se_Aplican</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Si_Caso_Aplica_0</name>
        <label>Determinar Si Caso Aplica</label>
        <locationX>1245</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <targetReference>Iterar_Sobre_Tipificaciones_Especiales_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Aplica_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_AuxMotivoDelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SOD_XS_AuxMotivoDelCaso__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Record_Types</targetReference>
            </connector>
            <label>Si Aplica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Tipo_de_Cliente</name>
        <label>Determinar Tipo de Cliente</label>
        <locationX>939</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Obtener_Person_Account_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente Persona</defaultConnectorLabel>
        <rules>
            <name>Cliente_Empresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Número Identificación Tributaria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Bussiness_Account_RT</targetReference>
            </connector>
            <label>Cliente Empresa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Message_Se_Puede_Enviar</name>
        <label>Email Message Se Puede Enviar</label>
        <locationX>182</locationX>
        <locationY>6155</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Email_Mesage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Email_Message</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Message_Se_Puede_Enviar2</name>
        <label>Email Message Se Puede Enviar</label>
        <locationX>1150</locationX>
        <locationY>5795</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Email_Mesage_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Email_Message_2</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esta_activo</name>
        <label>Esta activo ?</label>
        <locationX>1275</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Eliminar_Registro_desencadenador_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_esta_activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Feature_Toggle_Web_to_Case_Colombia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Tipificaciones_Especiales_0</targetReference>
            </connector>
            <label>Si esta activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujos_desactivados</name>
        <label>Flujos desactivados?</label>
        <locationX>670</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Determinar_Origen_del_Caso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SOD_XS_Bypass__c.SOD_XS_DesactivarFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_que_actualizar_Tareas_Hijas</name>
        <label>Hay que actualizar Tareas Hijas?</label>
        <locationX>1782</locationX>
        <locationY>8291</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Tareas</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pais_Del_Caso_Web_to_Case</name>
        <label>Pais Del Caso Web-to-Case</label>
        <locationX>1525</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Colombia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaisDelCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Feature_Toggle_Web_to_Case_Colombia</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_del_Caso</name>
        <label>RecordType del Caso</label>
        <locationX>1401</locationX>
        <locationY>3167</locationY>
        <defaultConnector>
            <targetReference>Loop_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hace_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Record_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_TipoDelCaso__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_RecordType_del_Caso</targetReference>
            </connector>
            <label>Hace match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_debe_enrutar_el_caso_por_habilidades</name>
        <label>Se debe enrutar el caso por habilidades?</label>
        <locationX>1782</locationX>
        <locationY>7283</locationY>
        <defaultConnector>
            <targetReference>Hay_que_actualizar_Tareas_Hijas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Queue</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_encontro_Tienda</name>
        <label>Se encontro Tienda</label>
        <locationX>1038</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Se_puede_enviar_notificacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_se_encontro_tienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Tienda</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Tienda_Que_Vende_Del_Caso</targetReference>
            </connector>
            <label>Si se encontro tienda</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_encontro_un_Cliente</name>
        <label>Se encontro un Cliente ?</label>
        <locationX>741</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Determinar_Tipo_de_Cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No se encontro</defaultConnectorLabel>
        <rules>
            <name>Si_se_encontro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Contacto_Cliente_Empresa</targetReference>
            </connector>
            <label>Si se encontro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_puede_enviar_notificacion</name>
        <label>Se puede enviar notificacion?</label>
        <locationX>1782</locationX>
        <locationY>4835</locationY>
        <defaultConnector>
            <targetReference>Se_debe_enrutar_el_caso_por_habilidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Cliente_Notificaciones</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CO_EmailSubjectLine_SolicitudEvidencia</name>
        <dataType>String</dataType>
        <expression>&apos;Necesitamos que nos envies evidencias para resolver tu caso &apos; + {!$Record.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>CO_EmailSubjectLine_WebToCase</name>
        <dataType>String</dataType>
        <expression>&apos;Hola &apos; + {!$Record.SOD_XS_PrimerNombreContacto__c} + &apos; hemos recibido tu caso #&apos; + {!$Record.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>DescripcionDelCaso</name>
        <dataType>String</dataType>
        <expression>&apos;Orden de Compra: &apos; + {!$Record.SOD_XS_AuxOrdenDeCompra__c} +  BR() +
&apos;Codigo del Producto Afectado: &apos; + {!$Record.SOD_XS_AuxCodigoDelProductoAfectado__c} +  BR() +
&apos;Nombre del Producto Afectado: &apos; + {!$Record.SOD_XS_AuxNombreDelProductoAfectado__c} +  BR() +
&apos;Fecha de la Compra: &apos; + TEXT({!$Record.SOD_XS_AuxFechaDeLaCompra__c}) +  BR() +
&apos;Tipo de Documento de Venta: &apos; + TEXT({!$Record.SOD_XS_AuxTipoDeDocumentoDeVenta__c}) +  BR() +
&apos;Nro. de Documento de Venta: &apos; + {!$Record.SOD_XS_AuxNumeroDeDocumentoDeVenta__c} +  BR() +
&apos;Comentarios: &apos; + {!$Record.Description}</expression>
    </formulas>
    <formulas>
        <name>DivisaDelCaso</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.SOD_XS_AuxPaisDelCaso__c}, &apos;Colombia&apos;),&apos;COP&apos;,(IF(ISPICKVAL({!$Record.SOD_XS_AuxPaisDelCaso__c}, &apos;Perú&apos;),&apos;PEN&apos;,&apos;CLP&apos;)))</expression>
    </formulas>
    <formulas>
        <name>NombreCompletoCliente</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.SOD_XS_AuxNombreCompletoDelCliente__c}),{!$Record.SOD_XS_AuxNombresDelCliente__c} + &apos; &apos; +{!$Record.SOD_XS_AuxApellidosDelCliente__c},{!$Record.SOD_XS_AuxNombreCompletoDelCliente__c})</expression>
    </formulas>
    <formulas>
        <name>ObtenerTipoDocumentoCliente</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;CDE&apos;), &apos;Carnet de Extranjería&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;CUR&apos;), &apos;Clave única de registro&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;CEL&apos;), &apos;Credencial de elector&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;DNI&apos;), &apos;DNI&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;DIP&apos;), &apos;Documento identidad país de residencia&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;PAS&apos;), &apos;Pasaporte&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;RFC&apos;), &apos;RFC&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;RUC&apos;), &apos;RUC&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;RUT&apos;), &apos;RUT&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;CDC&apos;), &apos;Cédula de Ciudadanía&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;NIT&apos;), &apos;Número Identificación Tributaria&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;TDI&apos;), &apos;Tarjeta de Identidad&apos;, 
&apos;&apos;))))))))))))</expression>
    </formulas>
    <formulas>
        <name>PaisDelCaso</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.SOD_XS_PaisDeLaCuenta__c})),{!$Record.SOD_XS_PaisDeLaCuenta__c},(IF(NOT(ISBLANK({!$Record.SOD_XS_PaisdelCaso__c})),{!$Record.SOD_XS_PaisdelCaso__c},TEXT({!$Record.SOD_XS_AuxPaisDelCaso__c}))))</expression>
    </formulas>
    <formulas>
        <name>Regresa_Email_Del_Destinatario</name>
        <dataType>String</dataType>
        <expression>IF({!Obtener_Cliente.RecordType.DeveloperName}==&apos;Business_Account&apos;,{!Obtener_Contacto.Email},{!Obtener_Cliente.PersonEmail})</expression>
    </formulas>
    <formulas>
        <name>RegresaIdDelContacto</name>
        <dataType>String</dataType>
        <expression>IF({!Obtener_Cliente.RecordType.DeveloperName}==&apos;Business_Account&apos;,{!Obtener_Contacto_Cliente_Empresa.Id},{!Obtener_Cliente.PersonContact.Id})</expression>
    </formulas>
    <interviewLabel>SOD_XS_FlujoUnificadoCasos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_FlujoUnificadoCasos</label>
    <loops>
        <name>Iterar_Sobre_Tipificaciones_Especiales_0</name>
        <label>Iterar Sobre Tipificaciones Especiales</label>
        <locationX>741</locationX>
        <locationY>2807</locationY>
        <collectionReference>Obtener_Tipificaciones_Especiales_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determinar_Si_Caso_Aplica_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Actualizar_Divisa_Aux_Nombre_Completo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Record_Types</name>
        <label>Loop Record Types</label>
        <locationX>1181</locationX>
        <locationY>3047</locationY>
        <collectionReference>Obtener_RecordTypes_del_Caso</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordType_del_Caso</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Actualizar_Tipificacion_del_Caso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Tareas_Caso_Abierto</name>
        <label>Recorrer Tareas Caso Abierto</label>
        <locationX>1386</locationX>
        <locationY>8651</locationY>
        <collectionReference>Obtener_Tareas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_Propietario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Tareas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Tareas_Caso_Cerrado</name>
        <label>Recorrer Tareas Caso Cerrado</label>
        <locationX>1738</locationX>
        <locationY>8651</locationY>
        <collectionReference>Obtener_Tareas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Caso_Cerrado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Tareas1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Cliente_Empresa</name>
        <label>Crear Cliente Empresa</label>
        <locationX>807</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>Crear_Contacto_Cliente_Empresa</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>DivisaDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreCompletoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxTelefonoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obtener_Bussiness_Account_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Country__c</field>
            <value>
                <elementReference>Obtener_Pais.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Direccion__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxDireccionDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_NroDocumento__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxNumeroDeDocumentoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_TipoDocumento__c</field>
            <value>
                <elementReference>ObtenerTipoDocumentoCliente</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Cliente_Persona</name>
        <label>Crear Cliente Persona</label>
        <locationX>1071</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>Obtener_Cliente_Recien_Creado</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>DivisaDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxNombresDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxApellidosDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxEmailDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxTelefonoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Country__c</field>
            <value>
                <elementReference>Obtener_Pais.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Direccion__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxDireccionDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_NroDocumento__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxNumeroDeDocumentoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_TipoDocumento__c</field>
            <value>
                <elementReference>ObtenerTipoDocumentoCliente</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Contacto_Cliente_Empresa</name>
        <label>Crear Contacto Cliente Empresa</label>
        <locationX>807</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Obtener_Cliente_Recien_Creado_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Crear_Cliente_Empresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxEmailDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxNombresDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxApellidosDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxTelefonoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Email_Message</name>
        <label>Crear Email Message</label>
        <locationX>50</locationX>
        <locationY>6275</locationY>
        <connector>
            <targetReference>Solicitar_Evidencia</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>Obtener_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>noreplysac@homecenter.co</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>$Record.Owner:User.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_EmailTemplateName__c</field>
            <value>
                <elementReference>Obtener_Template.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CO_EmailSubjectLine_SolicitudEvidencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>CO_EmailBodyPlainText_SolicitudEvidencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Email_Message_2</name>
        <label>Crear Email Message 2</label>
        <locationX>1018</locationX>
        <locationY>5915</locationY>
        <connector>
            <targetReference>Notificar_Creacion_Caso_Web_To_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>Obtener_Template_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>noreplysac@homecenter.co</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>$Record.Owner:User.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_EmailTemplateName__c</field>
            <value>
                <elementReference>Obtener_Template_2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CO_EmailSubjectLine_WebToCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>CO_EmailBodyPlainText_WebToCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Regresa_Email_Del_Destinatario</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Eliminar_Registro_desencadenador_0</name>
        <label>Eliminar Registro desencadenador</label>
        <locationX>1511</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Se_puede_enviar_notificacion</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Case_Owner_Queue</name>
        <label>Case Owner Queue</label>
        <locationX>1551</locationX>
        <locationY>7403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determinar_Pais1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Bussiness_Account_RT</name>
        <label>Obtener Bussiness Account RT</label>
        <locationX>807</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Cliente_Empresa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cliente</name>
        <label>Obtener Cliente</label>
        <locationX>741</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_encontro_un_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_TipoDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerTipoDocumentoCliente</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_NroDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxNumeroDeDocumentoDelCliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Pais.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cliente_Notificaciones</name>
        <label>Obtener Cliente</label>
        <locationX>1579</locationX>
        <locationY>4955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cliente_Recien_Creado</name>
        <label>Obtener Cliente Recien Creado</label>
        <locationX>1071</locationX>
        <locationY>2135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Cliente_del_Caso_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Cliente_Persona</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cliente_Recien_Creado_0</name>
        <label>Obtener Cliente Recien Creado</label>
        <locationX>807</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Cliente_del_Caso_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Cliente_Empresa</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Contacto</name>
        <label>Obtener Contacto</label>
        <locationX>1579</locationX>
        <locationY>5075</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_Tiene_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Cliente.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Contacto_Cliente_Empresa</name>
        <label>Obtener Contacto Cliente Empresa</label>
        <locationX>543</locationX>
        <locationY>1775</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Cliente_del_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Cliente.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Email_Mesage</name>
        <label>Obtener Email Mesage</label>
        <locationX>182</locationX>
        <locationY>6035</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Message_Se_Puede_Enviar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmailTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Email_Mesage_2</name>
        <label>Obtener Email Mesage 2</label>
        <locationX>1150</locationX>
        <locationY>5675</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Message_Se_Puede_Enviar2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmailTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Template_2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Feature_Toggle_Web_to_Case_Colombia</name>
        <label>Obtener Feature Toggle Web-to-Case Colombia</label>
        <locationX>1275</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esta_activo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOD_CO_Web_To_Case_Integration</stringValue>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_FeatureToggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Pais</name>
        <label>Obtener Pais</label>
        <locationX>1038</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Tienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxPaisDelCaso__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Person_Account_RT</name>
        <label>Obtener Person Account RT</label>
        <locationX>1071</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Cliente_Persona</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_RecordTypes_del_Caso</name>
        <label>Obtener RecordTypes del Caso</label>
        <locationX>741</locationX>
        <locationY>2687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_Sobre_Tipificaciones_Especiales_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tareas</name>
        <label>Obtener Tareas</label>
        <locationX>1562</locationX>
        <locationY>8411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Caso_Abierto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Template</name>
        <label>Obtener Template</label>
        <locationX>182</locationX>
        <locationY>5915</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Email_Mesage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SODIMAC - CO Solicitud Evidencia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Template_2</name>
        <label>Obtener Template 2</label>
        <locationX>1150</locationX>
        <locationY>5555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Email_Mesage_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SODIMAC - CO Web To Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tienda</name>
        <label>Obtener Tienda</label>
        <locationX>1038</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_encontro_Tienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_IdExterno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxTiendaQueVende__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_CentroDeCosto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tipificaciones_Especiales_0</name>
        <label>Obtener Tipificaciones Especiales</label>
        <locationX>1038</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Pais</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SOD_XS_PaisDelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.SOD_XS_Country__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_PaisDelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxPaisDelCaso__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SOD_XS_TipificacionEspecial__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Cliente_del_Caso</name>
        <label>Actualizar Cliente del Caso</label>
        <locationX>543</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Obtener_RecordTypes_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Cliente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RegresaIdDelContacto</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Cliente_del_Caso_0</name>
        <label>Actualizar Cliente del Caso</label>
        <locationX>1071</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Obtener_RecordTypes_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Cliente_Recien_Creado.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Obtener_Cliente_Recien_Creado.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Cliente_del_Caso_0_0</name>
        <label>Actualizar Cliente del Caso</label>
        <locationX>807</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>Obtener_RecordTypes_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Cliente_Recien_Creado_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Crear_Contacto_Cliente_Empresa</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Divisa_Aux_Nombre_Completo</name>
        <label>Actualizar Divisa &amp; Aux Nombre Completo</label>
        <locationX>1269</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Invocar_Activar_Reglas_de_Asignacion_del_Caso_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>DivisaDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescripcionDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_AuxNombreCompletoDelCliente__c</field>
            <value>
                <elementReference>NombreCompletoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_RecordType_del_Caso</name>
        <label>Actualizar RecordType del Caso</label>
        <locationX>1269</locationX>
        <locationY>3287</locationY>
        <connector>
            <targetReference>Actualizar_Tipificacion_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Loop_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Tareas</name>
        <label>Actualizar Tareas</label>
        <locationX>1386</locationX>
        <locationY>9107</locationY>
        <inputReference>TareasParaActualizar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Tareas1</name>
        <label>Actualizar Tareas</label>
        <locationX>1738</locationX>
        <locationY>9107</locationY>
        <inputReference>TareasParaActualizar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Tienda_Que_Vende_Del_Caso</name>
        <label>Actualizar Tienda Que Vende Del Caso</label>
        <locationX>741</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Obtener_Cliente</targetReference>
        </connector>
        <inputAssignments>
            <field>SOD_XS_CentroCostoResponsable__c</field>
            <value>
                <elementReference>Obtener_Tienda.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_TiendaVende__c</field>
            <value>
                <elementReference>Obtener_Tienda.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Tipificacion_del_Caso</name>
        <label>Actualizar Tipificacion del Caso</label>
        <locationX>1269</locationX>
        <locationY>3407</locationY>
        <connector>
            <targetReference>Actualizar_Divisa_Aux_Nombre_Completo</targetReference>
        </connector>
        <inputAssignments>
            <field>SOD_XS_Area__c</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_AreaDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Motivo__c</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_MotivoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Submotivo__c</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_SubmotivoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_MotivoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_TipoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>544</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flujos_desactivados</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>CO_EmailBodyPlainText_SolicitudEvidencia</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!$Record.Account.FirstName} {!$Record.Account.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Para nosotros es muy importante dar solución a tu requerimiento No {!$Record.CaseNumber}, relacionado con el producto que recibiste con novedad (dañado, piezas/producto incompleto, errado, no funciona, problemas de calidad entre otros), para avanzar en tu solicitud es indispensable que envíes en las siguientes 24 horas al correo {!$Record.Owner:User.Email} las fotos de: producto y empaque donde se identifique la novedad que mencionas, y de todas las etiquetas de las cajas, si se trata de piezas faltantes: foto del manual especificando cuáles son. Así mismo, requerimos que nos confirmes los datos de contacto del comprador:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nombre y número de documento del comprador:&lt;/p&gt;&lt;p&gt;Dirección donde se encuentra el producto:&lt;/p&gt;&lt;p&gt;Número de celular:&lt;/p&gt;&lt;p&gt;Fecha de entrega del Producto:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Posterior al envío de las fotografías, el asesor de Experiencia de Clientes se contactará contigo para buscar la mejor alternativa.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialmente&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Experiencia de Clientes Homecenter&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CO_EmailBodyPlainText_WebToCase</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hemos recibido tu requerimiento, el cual ha sido registrado con el número {!$Record.CaseNumber}.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;De ser necesario uno de nuestros asesores estará en contacto contigo, con el fin de ampliar la información y buscar la mejor alternativa de solución para ti.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialmente&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Experiencia de Clientes Homecenter&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>skillList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>TareasParaActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
