Sodimac-DEV2/force-app/main/default/flows/SOD_XS_NotificacionComentario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notificacion_Comentario_Tarea</name>
        <label>Notificacion Comentario Tarea</label>
        <locationX>385</locationX>
        <locationY>2246</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Es_el_mismo_propietario</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>cuerpoNotificacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Obtener_Tarea.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_Notificacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>idsTareas</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Nuevo Comentario</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notificacion_Comentario_Tarea_0</name>
        <label>Notificacion Comentario Tarea</label>
        <locationX>253</locationX>
        <locationY>2486</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>cuerpoNotificacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Obtener_Tarea.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_Notificacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>idsCasos</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Nuevo Comentario</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Agregar_Valor</name>
        <label>Agregar Valor</label>
        <locationX>473</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>idsTareas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecorroTarea.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorroTarea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AgregarValor_0</name>
        <label>Agregar Valor</label>
        <locationX>473</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>idsCasos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorro_Casos.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Incrementar_counter_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigno_Id</name>
        <label>asigno Id</label>
        <locationX>605</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Recorro_Casos.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Tarea.SOD_XS_PropietarioDelCaso__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_si_tarea_tiene_propietario_del_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigno_Valor</name>
        <label>Asigno Valor</label>
        <locationX>473</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>RecorroTarea.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Tarea.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementar_counter_0</name>
        <label>Incrementar counter</label>
        <locationX>473</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorro_Casos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asignar_si_tarea_tiene_propietario_del_Caso</name>
        <label>Asignar si tarea tiene propietario del Caso</label>
        <locationX>605</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Recorro_Casos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Propietario_del_Caso_no_es_Nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorro_Casos.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorro_Casos.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgregarValor_0</targetReference>
            </connector>
            <label>Propietario del Caso no es Nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_el_mismo_propietario</name>
        <label>Es el mismo propietario?</label>
        <locationX>385</locationX>
        <locationY>2366</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>es_distinto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Tarea.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ObtenerCaso.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>idsCasos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notificacion_Comentario_Tarea_0</targetReference>
            </connector>
            <label>es distinto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esta_vinculado_a_un_Caso</name>
        <label>Esta vinculado a un Caso ?</label>
        <locationX>583</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Vinculado_a_Caso_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerCaso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerCasos</targetReference>
            </connector>
            <label>Vinculado a Caso</label>
        </rules>
    </decisions>
    <decisions>
        <description>Chequea si el Bypass de Flujos se encuentra activo.</description>
        <name>Flujos_Desactivados</name>
        <label>Flujos Desactivados?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Obtener_Tarea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SOD_XS_Bypass__c.SOD_XS_DesactivarFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Se agrega desicion path para asegurar que Tarea este vinculada a un Caso</description>
    <interviewLabel>SOD_XS_NotificacionComentario {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_NotificacionComentario</label>
    <loops>
        <name>Recorro_Casos</name>
        <label>Recorro Casos</label>
        <locationX>385</locationX>
        <locationY>1454</locationY>
        <collectionReference>ObtenerCasos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asigno_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Notificacion_Comentario_Tarea</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorroTarea</name>
        <label>Recorro Tarea</label>
        <locationX>385</locationX>
        <locationY>998</locationY>
        <collectionReference>Obtener_Tareas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigno_Valor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorro_Casos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Notificacion</name>
        <label>Obtener Notificacion</label>
        <locationX>385</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecorroTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOD_XS_Notificacion_Comentario_Tarea</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tarea</name>
        <label>Obtener Tarea</label>
        <locationX>583</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Tareas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdTarea</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tareas</name>
        <label>Obtener Tareas</label>
        <locationX>583</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenerCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdTarea</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerCaso</name>
        <label>Obtener Caso</label>
        <locationX>583</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esta_vinculado_a_un_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Tarea.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerCasos</name>
        <label>Obtener Casos</label>
        <locationX>385</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Notificacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Tarea.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flujos_Desactivados</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>cuerpoNotificacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Se ha agregado un nuevo comentario a la tarea {!Obtener_Tarea.SOD_XS_IdentificadorTarea__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>idsCasos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idsTareas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
