Sodimac-DEV2/force-app/main/default/flows/SOD_XS_RTFAS_EnviarNotificacionesPorEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CL_Nofiticar_Cliente_Creacion_Caso_Fcom</name>
        <label>CL - Nofiticar Cliente Creacion Caso Fcom</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <actionName>Case.SOD_CL_Caso_Notificacion_ClienteCrearCasoFcom</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Notificar_Cierre_Felicitacion</name>
        <label>CL - Notificar Cierre Felicitacion</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>Case.SOD_CL_Caso_Notificacion_CierreFelicitaciones</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Notificar_Cliente_Creacion_Caso</name>
        <label>CL - Notificar Cliente Creacion Caso</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <actionName>Case.SOD_CL_Caso_Notificacion_ClienteCrearCaso</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Notificar_Cliente_Creacion_Caso_Fcom_Anulacion_OC</name>
        <label>CL - Notificar Cliente Creacion Caso Fcom Anulacion OC</label>
        <locationX>1106</locationX>
        <locationY>1175</locationY>
        <actionName>Case.SOD_CL_Caso_Notificacion_ClienteCrearCasoFcomAnulacionOC</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Notificar_Cliente_SLA_Vencido</name>
        <label>CL - Notificar Cliente SLA Vencido</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <actionName>Case.SOD_CL_Caso_Notificacion_ClienteSLAVencido</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CL_Notificar_Cliente_SLA_Vencido_Fcom</name>
        <label>CL - Notificar Cliente SLA Vencido Fcom</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <actionName>Case.SOD_CL_Caso_Notificacion_ClienteSLAVencidoFcom</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notificar_Creacion_Caso_Web_To_Case</name>
        <label>Notificar Creacion Caso Web To Case</label>
        <locationX>3482</locationX>
        <locationY>1535</locationY>
        <actionName>Case.SOD_CO_Caso_Notificacion_ClienteCrearCasoWebToCase</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Solicitar_Evidencia</name>
        <label>Solicitar Evidencia</label>
        <locationX>2162</locationX>
        <locationY>1895</locationY>
        <actionName>Case.SOD_CO_Caso_Notificacion_SolicitudEvidencia</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CL_Determinar_Alerta</name>
        <label>CL - Determinar Alerta</label>
        <locationX>974</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA_Vencido_Sodimac</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_SLACierreVencido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>F.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PVC Sernac Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CodigoTiendaQueVende__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CodigoTiendaQueVende__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>72</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Notificar_Cliente_SLA_Vencido</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SLA Vencido Sodimac</label>
        </rules>
        <rules>
            <name>SLA_Vencido_Fcom</name>
            <conditionLogic>1 AND (2 AND 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_SLACierreVencido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PVC Sernac Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Anulación Orden de Compra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CodigoTiendaQueVende__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CodigoTiendaQueVende__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>72</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Notificar_Cliente_SLA_Vencido_Fcom</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SLA Vencido Fcom</label>
        </rules>
        <rules>
            <name>Creacion_Caso_Sodimac</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>F.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PVC Sernac Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accidente a Personas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CodigoTiendaQueVende__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CodigoTiendaQueVende__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>72</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Notificar_Cliente_Creacion_Caso</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Creacion Caso Sodimac</label>
        </rules>
        <rules>
            <name>Creacion_Caso_Fcom_Anulacion_OC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anulación Orden de Compra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CodigoTiendaQueVende__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Notificar_Cliente_Creacion_Caso_Fcom_Anulacion_OC</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Creacion Caso Fcom Anulacion OC</label>
        </rules>
        <rules>
            <name>Creacion_Caso_Fcom</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accidente a Personas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Anulación Orden de Compra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PVC Sernac Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CodigoTiendaQueVende__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_CodigoTiendaQueVende__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>72</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Nofiticar_Cliente_Creacion_Caso_Fcom</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Creacion Caso Fcom</label>
        </rules>
    </decisions>
    <decisions>
        <name>CL_Determinar_Notificacion</name>
        <label>CL - Determinar Notificacion</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ente_Regulatorio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ente Regulatorio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ente Regulatorio Mediación</stringValue>
                </rightValue>
            </conditions>
            <label>Ente Regulatorio</label>
        </rules>
        <rules>
            <name>Felicitaciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Felicitación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Notificar_Cierre_Felicitacion</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Felicitaciones</label>
        </rules>
        <rules>
            <name>Reclamos_Y_Solicitudes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Determinar_Alerta</targetReference>
            </connector>
            <label>Reclamos Y Solicitudes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cliente_Tiene_Email</name>
        <label>Cliente Tiene Email</label>
        <locationX>3746</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_0</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cliente.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Cliente.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Cliente.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Contacto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Contacto.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Cliente.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determinar_Pais</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>CO_Determinar_Notificacion</name>
        <label>CO - Determinar Notificacion</label>
        <locationX>3490</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Producto_Danado</name>
            <conditionLogic>1 AND 5 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Web-to-Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho / Retiro en Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cumple_Motivos_Permitidos</targetReference>
            </connector>
            <label>Producto Dañado</label>
        </rules>
        <rules>
            <name>Web_To_Case</name>
            <conditionLogic>(1 OR 4) AND (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web-to-Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_AuxPaisDelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Template_2</targetReference>
            </connector>
            <label>Web To Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cumple_Criterios_Adicionales</name>
        <label>Cumple Criterios Adicionales</label>
        <locationX>2492</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2022-11-11T23:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Template</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cumple_Motivos_Permitidos</name>
        <label>Cumple Motivos Permitidos</label>
        <locationX>2970</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto Dañado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto Incompleto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Producto no Corresponde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrega Errónea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Motivo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calidad de Producto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cumple_Submotivos_Permitidos</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cumple_Submotivos_Permitidos</name>
        <label>Cumple Submotivos Permitidos</label>
        <locationX>2723</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_Submotivo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual Faltante</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cumple_Criterios_Adicionales</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Pais</name>
        <label>Determinar Pais</label>
        <locationX>2690</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Cliente.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Cliente.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CL_Determinar_Notificacion</targetReference>
            </connector>
            <label>Chile</label>
        </rules>
        <rules>
            <name>Colombia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Determinar_Notificacion</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
        <rules>
            <name>Peru</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_PaisdelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peru</stringValue>
                </rightValue>
            </conditions>
            <label>Peru</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Message_Se_Puede_Enviar</name>
        <label>Email Message Se Puede Enviar</label>
        <locationX>2294</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Email_Mesage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Email_Message</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Message_Se_Puede_Enviar_2</name>
        <label>Email Message Se Puede Enviar</label>
        <locationX>3614</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Email_Mesage_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Email_Message_2</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujos_desactivados</name>
        <label>Flujos desactivados?</label>
        <locationX>1634</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Obtener_Cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SOD_XS_Bypass__c.SOD_XS_DesactivarFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automated</stringValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo Record Triggered Flow Run After Save: Enviar Notificaciones Por Email desencadenadas por actualizaciones en un Caso (Se incluye Origen Web para Web-to-Case)</description>
    <environments>Default</environments>
    <formulas>
        <name>CO_EmailSubjectLine_SolicitudEvidencia</name>
        <dataType>String</dataType>
        <expression>&apos;Necesitamos que nos envies evidencias para resolver tu caso &apos; + {!$Record.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>CO_EmailSubjectLine_WebToCase</name>
        <dataType>String</dataType>
        <expression>&apos;Hola &apos; + {!$Record.SOD_XS_PrimerNombreContacto__c} + &apos; hemos recibido tu caso #&apos; + {!$Record.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>Regresa_Email_Del_Destinatario</name>
        <dataType>String</dataType>
        <expression>IF({!Obtener_Cliente.RecordType.DeveloperName}==&apos;Business_Account&apos;,{!Obtener_Contacto.Email},{!Obtener_Cliente.PersonEmail})</expression>
    </formulas>
    <interviewLabel>SOD_XS_RTFAS_EnviarNotificacionesPorEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_RTFAS_EnviarNotificacionesPorEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Email_Message</name>
        <label>Crear Email Message</label>
        <locationX>2162</locationX>
        <locationY>1775</locationY>
        <connector>
            <targetReference>Solicitar_Evidencia</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>Obtener_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>noreplysac@homecenter.co</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>$Record.Owner:User.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_EmailTemplateName__c</field>
            <value>
                <elementReference>Obtener_Template.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CO_EmailSubjectLine_SolicitudEvidencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>CO_EmailBodyPlainText_SolicitudEvidencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Email_Message_2</name>
        <label>Crear Email Message 2</label>
        <locationX>3482</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Notificar_Creacion_Caso_Web_To_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>Obtener_Template_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>noreplysac@homecenter.co</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>$Record.Owner:User.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_EmailTemplateName__c</field>
            <value>
                <elementReference>Obtener_Template_2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CO_EmailSubjectLine_WebToCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>CO_EmailBodyPlainText_WebToCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Regresa_Email_Del_Destinatario</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Cliente</name>
        <label>Obtener Cliente</label>
        <locationX>3746</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Contacto</name>
        <label>Obtener Contacto</label>
        <locationX>3746</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_Tiene_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Cliente.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Email_Mesage</name>
        <label>Obtener Email Mesage</label>
        <locationX>2294</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Message_Se_Puede_Enviar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmailTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Email_Mesage_2</name>
        <label>Obtener Email Mesage 2</label>
        <locationX>3614</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Message_Se_Puede_Enviar_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmailTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Template_2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Template</name>
        <label>Obtener Template</label>
        <locationX>2294</locationX>
        <locationY>1415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Email_Mesage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SODIMAC - CO Solicitud Evidencia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Template_2</name>
        <label>Obtener Template 2</label>
        <locationX>3614</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Email_Mesage_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SODIMAC - CO Web To Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flujos_desactivados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>CO_EmailBodyPlainText_SolicitudEvidencia</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hola {!$Record.Account.FirstName} {!$Record.Account.LastName},

Para nosotros es muy importante dar solución a tu requerimiento No {!$Record.CaseNumber}, relacionado con el producto que recibiste con novedad (dañado, piezas/producto incompleto, errado, no funciona, problemas de calidad entre otros), para avanzar en tu solicitud es indispensable que envíes en las siguientes 24 horas al correo {!$Record.Owner:User.Email} las fotos de: producto y empaque donde se identifique la novedad que mencionas, y de todas las etiquetas de las cajas, si se trata de piezas faltantes: foto del manual especificando cuáles son. Así mismo, requerimos que nos confirmes los datos de contacto del comprador:

Nombre y número de documento del comprador:
Dirección donde se encuentra el producto:
Número de celular:
Fecha de entrega del Producto:


Posterior al envío de las fotografías, el asesor de Experiencia de Clientes se contactará contigo para buscar la mejor alternativa.

Cordialmente

Experiencia de Clientes Homecenter</text>
    </textTemplates>
    <textTemplates>
        <name>CO_EmailBodyPlainText_WebToCase</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hemos recibido tu requerimiento, el cual ha sido registrado con el número {!$Record.CaseNumber}. 

De ser necesario uno de nuestros asesores estará en contacto contigo, con el fin de ampliar la información y buscar la mejor alternativa de solución para ti.

Cordialmente

Experiencia de Clientes Homecenter</text>
    </textTemplates>
</Flow>
