Sodimac-DEV2/force-app/main/default/flows/SOD_XS_NotificacionCierreTarea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notificación de cierre de tarea al propietario del caso</description>
        <name>SOD_XS_NotificacionCierreTarea</name>
        <label>SOD XS Notificación Cierre Tarea</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Marcar_Cierre_Notificado_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>obtenerNotificacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CuerpoNotificacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Cierre de Tarea</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asignaci_n_Recipient_Ids</name>
        <label>Asignación Recipient Ids</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObtenerRegistroCaso.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SOD_XS_NotificacionCierreTarea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setea el checkbox Cierre Notificado en true para evitar que se vuelva a notificar por la misma Tarea Cerrada</description>
        <name>Marcar_Cierre_Notificado_0</name>
        <label>Marcar Cierre Notificado</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.SOD_XS_CierreNotificado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Tarea</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verifica si el propietario del caso es distinto al propietario de la tarea.</description>
        <name>Es_el_propietario_del_Caso_distinto_del_de_la_Tarea</name>
        <label>Es el propietario del Caso distinto del de la Tarea?</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Es_distinto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignaci_n_Recipient_Ids</targetReference>
            </connector>
            <label>Es distinto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_el_propietario_del_Caso_un_usuario</name>
        <label>Es el propietario del Caso un usuario?</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Es_usuario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerRegistroCaso.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_el_propietario_del_Caso_distinto_del_de_la_Tarea</targetReference>
            </connector>
            <label>Es usuario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_una_Tarea_de_gestion</name>
        <label>Es una Tarea de gestion?</label>
        <locationX>611</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Es_de_gestion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOD_XS_TareaDeGestion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_el_propietario_del_Caso_un_usuario</targetReference>
            </connector>
            <label>Es de gestion</label>
        </rules>
    </decisions>
    <decisions>
        <description>Chequea si el Bypass de Flujos se encuentra activo.</description>
        <name>Flujos_desactivados</name>
        <label>Flujos desactivados?</label>
        <locationX>198</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>obtenerNotificacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SOD_XS_Bypass__c.SOD_XS_DesactivarFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Flujo para notificar al propietario del Caso del cierre de las Tareas hijas
(Se agrega Bypass para Tareas Internas que no estan asociadas a un Caso)</description>
    <interviewLabel>SOD_XS_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_NotificacionCierreTarea</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtenerNotificacion</name>
        <label>obtenerNotificacion</label>
        <locationX>611</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenerRegistroCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOD_XS_NotificacionCierreTarea</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerRegistroCaso</name>
        <label>ObtenerRegistroCaso</label>
        <locationX>611</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_una_Tarea_de_gestion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza la Tarea que gatilla el flujo</description>
        <name>Actualizar_Tarea</name>
        <label>Actualizar Tarea</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flujos_desactivados</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 8 AND NOT(3) AND NOT(4) AND NOT(5) AND NOT(6) AND NOT(7)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrada</stringValue>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_CierreNotificado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Llamada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Send Letter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Send Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Correo electrónico:</stringValue>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_TareaInterna__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Contiene el valor del cuerpo de la notificación</description>
        <name>CuerpoNotificacion</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;La tarea {!$Record.SOD_XS_IdentificadorTarea__c} del caso {!ObtenerRegistroCaso.CaseNumber} ha sido cerrada.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>contiene el id del caso</description>
        <name>idCaso</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
