Sodimac-DEV2/force-app/main/default/flows/SOD_XS_RTFAS_WebToCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invocar_Activar_Reglas_de_Asignacion_del_Caso_0</name>
        <label>Invocar Activar Reglas de Asignacion del Caso</label>
        <locationX>776</locationX>
        <locationY>3647</locationY>
        <actionName>SOD_XS_InvokeActivateCaseAssignmentRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invocar_Agregar_Productos_del_Caso_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invocar_Agregar_Productos_del_Caso_0</name>
        <label>Invocar Agregar Productos del Caso</label>
        <locationX>776</locationX>
        <locationY>3767</locationY>
        <actionName>SOD_XS_InvokeAddProductsToCase</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Determinar_Origen_del_Caso</name>
        <label>Determinar Origen del Caso</label>
        <locationX>1365</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Web_to_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web-to-Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pais_Del_Caso_Web_to_Case</targetReference>
            </connector>
            <label>Web to Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Si_Caso_Aplica_0</name>
        <label>Determinar Si Caso Aplica</label>
        <locationX>752</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <targetReference>Iterar_Sobre_Tipificaciones_Especiales_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Aplica_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_AuxMotivoDelCaso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SOD_XS_AuxMotivoDelCaso__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Record_Types</targetReference>
            </connector>
            <label>Si Aplica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinar_Tipo_de_Cliente</name>
        <label>Determinar Tipo de Cliente</label>
        <locationX>446</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Obtener_Person_Account_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente Persona</defaultConnectorLabel>
        <rules>
            <name>Cliente_Empresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Bussiness_Account_RT</targetReference>
            </connector>
            <label>Cliente Empresa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esta_activo</name>
        <label>Esta activo ?</label>
        <locationX>825</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Eliminar_Registro_desencadenador_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_esta_activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Feature_Toggle_Web_to_Case_Colombia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Tipificaciones_Especiales_0</targetReference>
            </connector>
            <label>Si esta activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujos_desactivados</name>
        <label>Flujos desactivados?</label>
        <locationX>214</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Determinar_Origen_del_Caso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SOD_XS_Bypass__c.SOD_XS_DesactivarFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pais_Del_Caso_Web_to_Case</name>
        <label>Pais Del Caso Web-to-Case</label>
        <locationX>1097</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Colombia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaisDelCaso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Feature_Toggle_Web_to_Case_Colombia</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_del_Caso</name>
        <label>RecordType del Caso</label>
        <locationX>908</locationX>
        <locationY>3167</locationY>
        <defaultConnector>
            <targetReference>Loop_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hace_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Record_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_TipoDelCaso__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_RecordType_del_Caso</targetReference>
            </connector>
            <label>Hace match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_encontro_Tienda</name>
        <label>Se encontro Tienda</label>
        <locationX>545</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_se_encontro_tienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Tienda</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Tienda_Que_Vende_Del_Caso</targetReference>
            </connector>
            <label>Si se encontro tienda</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_encontro_un_Cliente</name>
        <label>Se encontro un Cliente ?</label>
        <locationX>248</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Determinar_Tipo_de_Cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No se encontro</defaultConnectorLabel>
        <rules>
            <name>Si_se_encontro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Contacto_Cliente_Empresa</targetReference>
            </connector>
            <label>Si se encontro</label>
        </rules>
    </decisions>
    <description>Flujo Record Triggered Flow After Save: Web To Case (Se actualizan Origen del Caso para incluir Web)</description>
    <environments>Default</environments>
    <formulas>
        <name>DescripcionDelCaso</name>
        <dataType>String</dataType>
        <expression>&apos;Codigo del Producto Afectado: &apos; + {!$Record.SOD_XS_AuxCodigoDelProductoAfectado__c} +  BR() +
&apos;Nombre del Producto Afectado: &apos; + {!$Record.SOD_XS_AuxNombreDelProductoAfectado__c} +  BR() +
&apos;Fecha de la Compra: &apos; + TEXT({!$Record.SOD_XS_AuxFechaDeLaCompra__c}) +  BR() +
&apos;Email: &apos; + {!$Record.SOD_XS_AuxEmailDelCliente__c} +  BR() +
&apos;Teléfono: &apos; + ({!$Record.SOD_XS_AuxTelefonoDelCliente__c}) +  BR() +
&apos;Dirección: &apos; + {!$Record.SOD_XS_AuxDireccionDelCliente__c} +  BR() +
&apos;Comentarios: &apos; + {!$Record.Description}</expression>
    </formulas>
    <formulas>
        <name>DivisaDelCaso</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.SOD_XS_AuxPaisDelCaso__c}, &apos;Colombia&apos;),&apos;COP&apos;,(IF(ISPICKVAL({!$Record.SOD_XS_AuxPaisDelCaso__c}, &apos;Perú&apos;),&apos;PEN&apos;,&apos;CLP&apos;)))</expression>
    </formulas>
    <formulas>
        <name>NombreCompletoCliente</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.SOD_XS_AuxNombreCompletoDelCliente__c}),{!$Record.SOD_XS_AuxNombresDelCliente__c} + &apos; &apos; +{!$Record.SOD_XS_AuxApellidosDelCliente__c},{!$Record.SOD_XS_AuxNombreCompletoDelCliente__c})</expression>
    </formulas>
    <formulas>
        <name>ObtenerTipoDocumentoCliente</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;CDE&apos;), &apos;Carnet de Extranjería&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;CUR&apos;), &apos;Clave única de registro&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;CEL&apos;), &apos;Credencial de elector&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;DNI&apos;), &apos;DNI&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;DIP&apos;), &apos;Documento identidad país de residencia&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;PAS&apos;), &apos;Pasaporte&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;RFC&apos;), &apos;RFC&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;RUC&apos;), &apos;RUC&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;RUT&apos;), &apos;RUT&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;CDC&apos;), &apos;Cédula de Ciudadanía&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;NIT&apos;), &apos;Número Identificación Tributaria&apos;, 
IF(ISPICKVAL({!$Record.SOD_XS_AuxTipoDeDocumentoDelCliente__c}, &apos;TDI&apos;), &apos;Tarjeta de Identidad&apos;, 
&apos;&apos;))))))))))))</expression>
    </formulas>
    <formulas>
        <name>PaisDelCaso</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.SOD_XS_PaisDeLaCuenta__c})),{!$Record.SOD_XS_PaisDeLaCuenta__c},(IF(NOT(ISBLANK({!$Record.SOD_XS_PaisdelCaso__c})),{!$Record.SOD_XS_PaisdelCaso__c},TEXT({!$Record.SOD_XS_AuxPaisDelCaso__c}))))</expression>
    </formulas>
    <formulas>
        <name>RegresaIdDelContacto</name>
        <dataType>String</dataType>
        <expression>IF({!Obtener_Cliente.RecordType.DeveloperName}==&apos;Business_Account&apos;,{!Obtener_Contacto_Cliente_Empresa.Id},{!Obtener_Cliente.PersonContact.Id})</expression>
    </formulas>
    <interviewLabel>SOD_XS_RTFAS_WebToCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_RTFAS_WebToCase</label>
    <loops>
        <name>Iterar_Sobre_Tipificaciones_Especiales_0</name>
        <label>Iterar Sobre Tipificaciones Especiales</label>
        <locationX>248</locationX>
        <locationY>2807</locationY>
        <collectionReference>Obtener_Tipificaciones_Especiales_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determinar_Si_Caso_Aplica_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Actualizar_Divisa_Aux_Nombre_Completo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Record_Types</name>
        <label>Loop Record Types</label>
        <locationX>688</locationX>
        <locationY>3047</locationY>
        <collectionReference>Obtener_RecordTypes_del_Caso</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordType_del_Caso</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Actualizar_Tipificacion_del_Caso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Cliente_Empresa</name>
        <label>Crear Cliente Empresa</label>
        <locationX>314</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>Crear_Contacto_Cliente_Empresa</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>DivisaDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreCompletoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxTelefonoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obtener_Bussiness_Account_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Country__c</field>
            <value>
                <elementReference>Obtener_Pais.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Direccion__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxDireccionDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_NroDocumento__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxNumeroDeDocumentoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_TipoDocumento__c</field>
            <value>
                <elementReference>ObtenerTipoDocumentoCliente</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Cliente_Persona</name>
        <label>Crear Cliente Persona</label>
        <locationX>578</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>Obtener_Cliente_Recien_Creado</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>DivisaDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxNombresDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxApellidosDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxEmailDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxTelefonoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Country__c</field>
            <value>
                <elementReference>Obtener_Pais.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Direccion__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxDireccionDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_NroDocumento__c</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxNumeroDeDocumentoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_TipoDocumento__c</field>
            <value>
                <elementReference>ObtenerTipoDocumentoCliente</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Contacto_Cliente_Empresa</name>
        <label>Crear Contacto Cliente Empresa</label>
        <locationX>314</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Obtener_Cliente_Recien_Creado_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Crear_Cliente_Empresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxEmailDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxNombresDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxApellidosDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.SOD_XS_AuxTelefonoDelCliente__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Eliminar_Registro_desencadenador_0</name>
        <label>Eliminar Registro desencadenador</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Obtener_Bussiness_Account_RT</name>
        <label>Obtener Bussiness Account RT</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Cliente_Empresa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cliente</name>
        <label>Obtener Cliente</label>
        <locationX>248</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_encontro_un_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_TipoDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerTipoDocumentoCliente</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_NroDocumento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxNumeroDeDocumentoDelCliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Pais.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cliente_Recien_Creado</name>
        <label>Obtener Cliente Recien Creado</label>
        <locationX>578</locationX>
        <locationY>2135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Cliente_del_Caso_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Cliente_Persona</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cliente_Recien_Creado_0</name>
        <label>Obtener Cliente Recien Creado</label>
        <locationX>314</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Cliente_del_Caso_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Cliente_Empresa</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Contacto_Cliente_Empresa</name>
        <label>Obtener Contacto Cliente Empresa</label>
        <locationX>50</locationX>
        <locationY>1775</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Cliente_del_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Cliente.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Feature_Toggle_Web_to_Case_Colombia</name>
        <label>Obtener Feature Toggle Web-to-Case Colombia</label>
        <locationX>825</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esta_activo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOD_CO_Web_To_Case_Integration</stringValue>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_FeatureToggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Pais</name>
        <label>Obtener Pais</label>
        <locationX>545</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Tienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxPaisDelCaso__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Person_Account_RT</name>
        <label>Obtener Person Account RT</label>
        <locationX>578</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Cliente_Persona</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_RecordTypes_del_Caso</name>
        <label>Obtener RecordTypes del Caso</label>
        <locationX>248</locationX>
        <locationY>2687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_Sobre_Tipificaciones_Especiales_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tienda</name>
        <label>Obtener Tienda</label>
        <locationX>545</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_encontro_Tienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SOD_XS_IdExterno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxTiendaQueVende__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_CentroDeCosto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tipificaciones_Especiales_0</name>
        <label>Obtener Tipificaciones Especiales</label>
        <locationX>545</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Pais</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SOD_XS_PaisDelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.SOD_XS_Country__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOD_XS_PaisDelCaso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SOD_XS_AuxPaisDelCaso__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SOD_XS_TipificacionEspecial__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Cliente_del_Caso</name>
        <label>Actualizar Cliente del Caso</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Obtener_RecordTypes_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Cliente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RegresaIdDelContacto</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Cliente_del_Caso_0</name>
        <label>Actualizar Cliente del Caso</label>
        <locationX>578</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Obtener_RecordTypes_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Cliente_Recien_Creado.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Obtener_Cliente_Recien_Creado.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Cliente_del_Caso_0_0</name>
        <label>Actualizar Cliente del Caso</label>
        <locationX>314</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>Obtener_RecordTypes_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Cliente_Recien_Creado_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Crear_Contacto_Cliente_Empresa</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Divisa_Aux_Nombre_Completo</name>
        <label>Actualizar Divisa &amp; Aux Nombre Completo</label>
        <locationX>776</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Invocar_Activar_Reglas_de_Asignacion_del_Caso_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>DivisaDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescripcionDelCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_AuxNombreCompletoDelCliente__c</field>
            <value>
                <elementReference>NombreCompletoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_RecordType_del_Caso</name>
        <label>Actualizar RecordType del Caso</label>
        <locationX>776</locationX>
        <locationY>3287</locationY>
        <connector>
            <targetReference>Actualizar_Tipificacion_del_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Loop_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Tienda_Que_Vende_Del_Caso</name>
        <label>Actualizar Tienda Que Vende Del Caso</label>
        <locationX>248</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Obtener_Cliente</targetReference>
        </connector>
        <inputAssignments>
            <field>SOD_XS_CentroCostoResponsable__c</field>
            <value>
                <elementReference>Obtener_Tienda.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_TiendaVende__c</field>
            <value>
                <elementReference>Obtener_Tienda.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Tipificacion_del_Caso</name>
        <label>Actualizar Tipificacion del Caso</label>
        <locationX>776</locationX>
        <locationY>3407</locationY>
        <connector>
            <targetReference>Actualizar_Divisa_Aux_Nombre_Completo</targetReference>
        </connector>
        <inputAssignments>
            <field>SOD_XS_Area__c</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_AreaDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Motivo__c</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_MotivoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOD_XS_Submotivo__c</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_SubmotivoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_MotivoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Iterar_Sobre_Tipificaciones_Especiales_0.SOD_XS_TipoDelCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>88</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flujos_desactivados</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
