Sodimac-DEV2/force-app/main/default/flows/SOD_XS_AsignarTarea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Corrige el grupo de gestión a Backoffice Clientes por diferencia de valor API de picklist</description>
        <name>BackofficeClientesLabel</name>
        <label>BackofficeClientesLabel</label>
        <locationX>2726</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Backoffice Clientes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCola</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Error en Flujo.</description>
        <name>ErrorEnFlujo</name>
        <label>Error En Flujo</label>
        <locationX>1361</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión Backoffice Cliente para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGBackofficeCliente</name>
        <label>SetGGBackofficeCliente</label>
        <locationX>1735</locationX>
        <locationY>1054</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoBackofficeClienteAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión Backoffice Transporte para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGBackofficeTransporte</name>
        <label>SetGGBackofficeTransporte</label>
        <locationX>1790</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoBackofficeTransporteAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión CajasVAD para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGCajasVAD</name>
        <label>SetGGCajasVAD</label>
        <locationX>1915</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoCajasVADAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión Calidad de Producto para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGCalidadDeProducto</name>
        <label>SetGGCalidadDeProducto</label>
        <locationX>1675</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoCalidadDeProductoAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión Calidad Telefónica para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGCalidadTelefonica</name>
        <label>SetGGCalidadTelefonica</label>
        <locationX>2032</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoCalidadTelefonicaAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión CallVentas para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGCallVentas</name>
        <label>SetGGCallVentas</label>
        <locationX>1790</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoCallVentasAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Define el nombre del Grupo de Gestión para asignaciones de Cola única (no específica por CC)</description>
        <name>SetGGColaUnica</name>
        <label>SetGGColaUnica</label>
        <locationX>2186</locationX>
        <locationY>1061</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoGestionTarea</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>esBackofficeClientes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión Control Interno para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGControlInternoCC</name>
        <label>SetGGControlInternoCC</label>
        <locationX>1672</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoControlInternoAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión Despacho Tienda para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGDespachoTienda</name>
        <label>SetGGDespachoTienda</label>
        <locationX>1914</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoDespachoTiendaAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión MAT para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGMAT</name>
        <label>SetGGMAT</label>
        <locationX>1889</locationX>
        <locationY>1157</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoMATAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión Posventa para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGPosventa</name>
        <label>SetGGPosventa</label>
        <locationX>1914</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoPostventaAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión Protección de Datos para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGProteccionDeDatos</name>
        <label>SetGGProtecciondeDatos</label>
        <locationX>1789</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoProteccionDeDatosAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión Seguridad para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGSeguridad</name>
        <label>SetGGSeguridad</label>
        <locationX>1909</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoSeguridadAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>define la abreviatura del grupo de gestión SISO para ser concatenado en el nombre completo de la Cola</description>
        <name>SetGGSISO</name>
        <label>SetGGSISO</label>
        <locationX>2038</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>GrupoGestionAbreviado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrupoSISOAbreviado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNombreCortoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setea la variable nombre Corto CC para ser concatenada en ColaTarea</description>
        <name>SetNombreCortoCC</name>
        <label>SetNombreCortoCC</label>
        <locationX>2243</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>NombreCortoCC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCentroCosto.SOD_XS_NombreCorto__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCola</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Almacena el país de la Tienda de la Tarea.</description>
        <name>SetPais</name>
        <label>Set País</label>
        <locationX>503</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>PaisTarea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Caso.SOD_XS_PaisdelCaso__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pais</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>País Tarea Chile.</description>
        <name>SetPaisChile</name>
        <label>SetPaisChile</label>
        <locationX>1065</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>PaisTarea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cualgrupogestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>País Tarea Colombia.</description>
        <name>SetPaisColombia</name>
        <label>SetPaisColombia</label>
        <locationX>1064</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>PaisTarea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cualgrupogestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>País Tarea Perú.</description>
        <name>SetPaisPeru</name>
        <label>SetPaisPeru</label>
        <locationX>1063</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>PaisTarea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cualgrupogestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece el Propietario de la Tarea como la Cola.</description>
        <name>SetPropietario</name>
        <label>SetPropietario</label>
        <locationX>2617</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>Tarea_Flujo_Principal.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCola.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Tarea</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Abreviación Grupo Gestión &quot;BackofficeCliente&quot;</description>
        <name>GrupoBackofficeClienteAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BO Clte</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo Gestión &quot;Backoffice Transporte&quot;</description>
        <name>GrupoBackofficeTransporteAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BO Trans</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo Gestión &quot;Cajas VAD&quot;</description>
        <name>GrupoCajasVADAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Caj VAD</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación de Grupo de Gestión &quot;Calidad de Producto&quot;</description>
        <name>GrupoCalidadDeProductoAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>QA Prd</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo Gestión &quot;Calidad Telefónica&quot;</description>
        <name>GrupoCalidadTelefonicaAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>QA Tel</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo Gestión &quot;Call Ventas&quot;</description>
        <name>GrupoCallVentasAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Call Vta</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación de Grupo de Gestión &quot;Control Interno&quot;</description>
        <name>GrupoControlInternoAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ctrl Int</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo Gestión &quot;Despacho Tienda&quot;</description>
        <name>GrupoDespachoTiendaAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DAD Tda</stringValue>
        </value>
    </constants>
    <constants>
        <name>GrupoGestionDevName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SOD_XS_GrupoDeGestion</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo Gestión &quot;MAT&quot;</description>
        <name>GrupoMATAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MAT</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo Gestión &quot;Postventa&quot;</description>
        <name>GrupoPostventaAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Posvta</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo Gestión &quot;Protección de Datos&quot;</description>
        <name>GrupoProteccionDeDatosAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Prot Dto</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo de Gestión &quot;Regularizaciones Tarjetas&quot;</description>
        <name>GrupoRegularizacionesTarjetasAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Regularizaciones Tarjetas</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo Gestión &quot;Seguridad&quot;</description>
        <name>GrupoSeguridadAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Seg</stringValue>
        </value>
    </constants>
    <constants>
        <name>GrupoSISOAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SISO</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo Gestión &quot;Validación de Pago&quot;</description>
        <name>GrupoValidacionDePagoAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Validacion de Pago</stringValue>
        </value>
    </constants>
    <constants>
        <description>Abreviación Grupo Gestión &quot;Venta en Verde&quot;</description>
        <name>GrupoVentaEnVerdeAbreviado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Vta Vrd</stringValue>
        </value>
    </constants>
    <constants>
        <description>Divisa Chile</description>
        <name>PaisChile</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chile</stringValue>
        </value>
    </constants>
    <constants>
        <description>Divisa Colombia</description>
        <name>PaisColombia</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Colombia</stringValue>
        </value>
    </constants>
    <constants>
        <description>Divisa Perú</description>
        <name>PaisPeru</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Perú</stringValue>
        </value>
    </constants>
    <decisions>
        <description>.</description>
        <name>cualgrupogestion</name>
        <label>Cuál grupo gestión</label>
        <locationX>1337</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>ErrorEnFlujo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Grupo erróneo</defaultConnectorLabel>
        <rules>
            <name>ControlInternoCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Control Interno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaisTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGControlInternoCC</targetReference>
            </connector>
            <label>Control Interno CC</label>
        </rules>
        <rules>
            <name>CalidaddeProducto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calidad de Producto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGCalidadDeProducto</targetReference>
            </connector>
            <label>Calidad de Producto</label>
        </rules>
        <rules>
            <name>Backoffice_TransporteCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backoffice Transporte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaisTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGBackofficeTransporte</targetReference>
            </connector>
            <label>Backoffice Transporte CC</label>
        </rules>
        <rules>
            <name>DespachoTienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Despacho Tienda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGDespachoTienda</targetReference>
            </connector>
            <label>Despacho Tienda</label>
        </rules>
        <rules>
            <name>MATCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaisTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGMAT</targetReference>
            </connector>
            <label>MAT CC</label>
        </rules>
        <rules>
            <name>Posventa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Posventa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGPosventa</targetReference>
            </connector>
            <label>Posventa</label>
        </rules>
        <rules>
            <name>CalidadTelefonicaCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calidad Telefónica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaisTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGCalidadTelefonica</targetReference>
            </connector>
            <label>Calidad Telefónica CC</label>
        </rules>
        <rules>
            <name>CajasVAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cajas VAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGCajasVAD</targetReference>
            </connector>
            <label>Cajas VAD</label>
        </rules>
        <rules>
            <name>Call_Ventas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call Ventas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGCallVentas</targetReference>
            </connector>
            <label>Call Ventas</label>
        </rules>
        <rules>
            <name>Seguridad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguridad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGSeguridad</targetReference>
            </connector>
            <label>Seguridad</label>
        </rules>
        <rules>
            <name>BackofficeClienteCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backoffice Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaisTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGBackofficeCliente</targetReference>
            </connector>
            <label>Backoffice Cliente CC</label>
        </rules>
        <rules>
            <name>ProtecciondeDatos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Protección de Datos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGProteccionDeDatos</targetReference>
            </connector>
            <label>Protección de Datos</label>
        </rules>
        <rules>
            <name>SISO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SISO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGSISO</targetReference>
            </connector>
            <label>SISO</label>
        </rules>
        <rules>
            <name>Cola_Unica</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15)</conditionLogic>
            <conditions>
                <leftValueReference>PaisTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaisTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Control Interno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backoffice Transporte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta en Verde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regularizaciones Tarjetas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validación de Pago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calidad Telefónica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backoffice Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gerencia Precios</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refacturación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refacturación Ecommerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coordinadores GC Tienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coordinadores GC Digital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGGColaUnica</targetReference>
            </connector>
            <label>Cola Unica</label>
        </rules>
    </decisions>
    <decisions>
        <description>determina si el grupo de gestión es Backoffice Clientes</description>
        <name>esBackofficeClientes</name>
        <label>es BackofficeClientes</label>
        <locationX>2327</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>GetCola</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Backoffice_Clientes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrupoGestionTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backoffice Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BackofficeClientesLabel</targetReference>
            </connector>
            <label>Backoffice Clientes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determina País de la Tarea.</description>
        <name>Pais</name>
        <label>País</label>
        <locationX>698</locationX>
        <locationY>577</locationY>
        <defaultConnector>
            <targetReference>ErrorEnFlujo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>País Erróneo</defaultConnectorLabel>
        <rules>
            <name>Chile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaisTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaisChile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPaisChile</targetReference>
            </connector>
            <label>Chile</label>
        </rules>
        <rules>
            <name>Peru</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaisTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaisPeru</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPaisPeru</targetReference>
            </connector>
            <label>Perú</label>
        </rules>
        <rules>
            <name>Colombia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaisTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaisColombia</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPaisColombia</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determinar si la Tarea está asociada a un Centro de Costo o no</description>
        <name>Tarea_asociada_a_Centro_de_Costo</name>
        <label>Tarea asociada a Centro de Costo?</label>
        <locationX>57</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>SetPais</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tarea_Flujo_Principal.SOD_XS_CentroCostoGestion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCentroCosto</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>La Tienda Despacho seleccionada se encuentra activa?</description>
        <name>TiendaActiva</name>
        <label>TiendaActiva</label>
        <locationX>496</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>ErrorEnFlujo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tienda Inactiva</defaultConnectorLabel>
        <rules>
            <name>Tienda_Activa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCentroCosto.SOD_XS_TiendaActiva__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPais</targetReference>
            </connector>
            <label>Tienda Activa</label>
        </rules>
    </decisions>
    <description>Asignacion Colas PVC Gift Card</description>
    <formulas>
        <description>Cola a la cual se asignará la Tarea</description>
        <name>ColaTarea</name>
        <dataType>String</dataType>
        <expression>&apos;SOD_&apos;&amp;{!PaisTarea}&amp;&apos;_&apos;&amp;SUBSTITUTE({!NombreCortoCC}&amp;
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!GrupoGestionAbreviado}, &quot;á&quot;, &quot;a&quot;),&quot;é&quot;, &quot;e&quot;),&quot;í&quot;, &quot;i&quot;),&quot;ó&quot;, &quot;o&quot;),&quot;ú&quot;, &quot;u&quot;)
,&apos; &apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Asignar Tarea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOD_XS_AsignarTarea</label>
    <loops>
        <name>Cual_Grupo_Gestion</name>
        <label>Cual Grupo Gestion</label>
        <locationX>1159</locationX>
        <locationY>999</locationY>
        <collectionReference>Get_Grupos_Gestion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Se crea la tarea.</description>
        <name>Crear_Tarea</name>
        <label>Crear Tarea</label>
        <locationX>2618</locationX>
        <locationY>396</locationY>
        <faultConnector>
            <targetReference>ErrorEnFlujo</targetReference>
        </faultConnector>
        <inputReference>Tarea_Flujo_Principal</inputReference>
    </recordCreates>
    <recordLookups>
        <description>se obtiene caso</description>
        <name>get_Caso</name>
        <label>get Caso</label>
        <locationX>64</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tarea_asociada_a_Centro_de_Costo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorEnFlujo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tarea_Flujo_Principal.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Grupos_Gestion</name>
        <label>Get Grupos Gestion</label>
        <locationX>1004</locationX>
        <locationY>1013</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DurableId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDurableIDGruposGestion.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Value</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el Centro de Costo al cual se asignará la Tarea</description>
        <name>GetCentroCosto</name>
        <label>GetCentroCosto</label>
        <locationX>346</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TiendaActiva</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorEnFlujo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tarea_Flujo_Principal.SOD_XS_CentroCostoGestion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SOD_XS_CentroDeCosto__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SOD_XS_CentroDeCosto__c</queriedFields>
        <queriedFields>SOD_XS_NombreCorto__c</queriedFields>
        <queriedFields>SOD_XS_TiendaActiva__c</queriedFields>
        <queriedFields>SOD_XS_PaisTiendaLiteral__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene Cola (ID) para asignar como propietario de la Tarea.</description>
        <name>GetCola</name>
        <label>GetCola</label>
        <locationX>2425</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPropietario</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorEnFlujo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ColaTarea</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene los valores de picklist Grupo Gestión en Tareas</description>
        <name>GetDurableIDGruposGestion</name>
        <label>Get DurableID Grupo Gestion</label>
        <locationX>1190</locationX>
        <locationY>1135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Grupos_Gestion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GrupoGestionDevName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityParticle</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DurableId</queriedFields>
        <queriedFields>Label</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Caso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Existe algún error en el flujo?</description>
        <name>Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Gerencia Precios</description>
        <name>GrupoGerenciaPreciosAbreviado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>grupo gestion abreviado para asignación de cola</description>
        <name>GrupoGestionAbreviado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Grupo de Gestión de la Tarea creada</description>
        <name>GrupoGestionTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Nombre Corto del Centro de Costo para ser concatenado en el DeveloperName de ColaTarea (Cola a la que se asignará la tarea)</description>
        <name>NombreCortoCC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>País de la Tarea</description>
        <name>PaisTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Tarea creada en layout de Caso. Su creación gatilla a este flujo</description>
        <name>Tarea_Flujo_Principal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
